.title-59679 {
	font-size: 26px;
	font-family: 'Omnes-Semibold';
	color:$green;
	text-align: center;
	margin-bottom: 0;
	margin-top: 44px;
	margin-bottom: 9px;

}
.title-86767 {
	font-size: 18px;
	color:$gris01;
	text-align: center;
	font-family: 'Omnes-Light';
	margin-bottom: 22px;
	

}	

.lq-faq-container {
	border:1px solid #d9d9d9;
	background-color: #ffffff;
	width: 84%;
	max-width: 615px;
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;
	border-radius: 10px;
	&__content {
		width: 90%;
		padding-top: 47px;
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;


	}
}
.lq-btn-grp-394867349 {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	.lq-btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 163px;

	}
}



.lq-question-item {
	display: block;
	&__question {
		display: block;
						
	}
	&__question-txt {
		font-family: 'Omnes-Regular';
		font-size: 16px;
		color:#5d5d5d;
		margin-bottom: 10px;
		line-height: 1.3;
		position: relative;
		padding-left: 20px;

	}
	&__question-txt-num {
		color:$green;
		font-family: 'Omnes-Semibold';
		position: absolute;
		top: 0;
		left: 0;

	}
	&__options {
		display: block;
		margin-bottom: 32px;
		padding-left: 15px;
	}
	&__answer {
		font-family: 'Omnes-Regular';
		font-size: 14px;
		color:#5d5d5d;
		margin-bottom: 2px;
	}

	&__answer-wrap {
		
	}

	
}
.lq_faq_validation_question__error {
	font-size: 14px;
	color:#f51010;
}

.aui .lq-question-item__answer-lbl,
.lq-question-item__answer-lbl {
	position: relative;
	padding-left: 17px;
	margin-bottom: 11px;
	line-height: 1.1;
}

.aui .lq-question-item__answer-input[type="radio"],
.aui .lq-question-item__answer-input[type="checkbox"],
.aui .lq-question-item__answer-input , 
.lq-question-item__answer-input {
		position: absolute;
		top: 2px;
		left: 0;
		margin: 0;
		padding: 0;
		display: block;
}

















