

.lq-main .lq-foot {
	width: 100%;
	max-width: 940px;
	margin: auto;
	@include tablet(){
	}
}



.lq-main .lq-foot .lq-foot1 {
	height: 98px;
	width: 525px;
	@include tablet(){
		width: 100%;
		float: none;
		margin: auto;
		border-left:none;
		background-image: none;
		padding-left: 0;
		
	}
	
	.lq-foot-info {
		
		@include tablet(){
			background-position: 20px center;
			background-image: url(../img/icon-phone.png);
			background-repeat: no-repeat;
			padding-left: 72px;		
		}
	}
	
}
.lq-main .lq-foot .lq-foot2 {
	height: 98px;
	width: 167px;
	@include tablet(){
		width: 100%;
		float: none;
		margin: auto;
		border-left:none;
	    border-top: 2px solid #f5f5f5;
	    padding-left: 0;
	}
}



.lq-foot-info {
	
	margin: auto;
	padding: 0;
	@include tablet(){
		max-width: 320px;
		padding-left: 25px;
		padding-right: 25px;
	}

}

.lq-main .lq-footer {
	@include tablet(){
		margin-top: 40px;

	}

}

