.aui .lq-messages,
.lq-messages{
	display: block;
	width: 95%;
	margin: auto;
	@include media(400px){
		width: 100%;
	}
	&__icon {
		display: block;
		margin: 0 auto 40px auto;
	}
	&__title {
		font-size: 26px;
		color: $green;
		text-align: center;
		margin-top: 0;
		margin-bottom: 10px;
		line-height: 1;
		font-family: 'Omnes-Medium';
		
		strong {
			
		}
		
	}
	
	&__p {
		color: #5d5d5d;
		font-size: 16px;
		text-align: center;
		line-height: 1.3;
		max-width: 540px;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 23px;
		strong {
			font-family: 'Omnes-Semibold';
		}
		
	}
	&__p--blue {
		color: #004c98;
	}
	.p01 {
		max-width: 320px;
		margin: auto;
		font-size: 16px;
		font-family: 'Omnes-Semibold';
		text-align: center;
		
	}
	&__email {
		color: $blueone;
		font-size: 18px;
		text-align: center;
		margin-top: 26px;
		margin-bottom: 5px;
		line-height: 1;

		strong {
			font-size: 19px;
			font-family: 'Omnes-Semibold';

		}

		@include tablet(){
			strong {
				font-size: 14px;
				font-family: 'Omnes-Regular';
			}
		}

	}


	&__strong-a {
		font-family: 'Omnes-Semibold';
		color: $blueone;
	}
	&__strong-b {
		font-family: 'Omnes-Semibold';
		color: $green;	
	}

	.lq-button {
		display: block;
		width: 193px;
		margin: 53px auto 20px auto;


	}

	&__link {
		display: block;
		font-size: 16px;
		text-align: center;
		color: $blueone;
		margin-top: 22px;
		margin-bottom: 22px;
		text-decoration: none;
		font-family: 'Omnes-Semibold';
		&:hover {
			text-decoration: underline;
		}
	}


	&--a {
		margin-top: 125px;
		max-width: 428px;
		margin-bottom: 157px;
	}
	&--b {
		margin-top: 125px;
		max-width: 270px;
		margin-bottom: 157px;
	}
	&--c {
		margin-top: 86px;
		margin-bottom: 157px;
		.lq-button {
			width: 198px;
			margin-top: 18px;
		}
		.p__c--01 {
			max-width: 390px;
			margin-bottom: 0;
		}
		.p__c--02 {
			
		}
		.p__c--03 {
			max-width: 390px;
			
		}
	}

	&--d {
		margin-top: 85px;
		margin-bottom: 105px;
		.lq-line {
			margin-top: 65px;
		}
	}

	&--e {
		margin-top: 40px;
		margin-bottom: 25px;
		.lq-line {
			margin-top: 25px;
		}
		a.lq-button {
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			max-width: 164px;
		}
	}


	&--f {
		margin-top: 130px;
		margin-bottom: 25px;
		max-width: 423px;
		.lq-line {
			margin-top: 25px;
		}
		a.lq-button {
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			max-width: 164px;
		}
		.p__f {
			max-width: 360px;
		}


	}


}


























