
/*----------------------------------

[Default mixin to use in every proyect]



----------------------------------*/




/*----------------------------------

# Animation

----------------------------------*/

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
	@content;
  }
  @-moz-keyframes #{$animationName} {
	@content;
  }
  @-o-keyframes #{$animationName} {
	@content;
  }
  @keyframes #{$animationName} {
	@content;
  }
}

@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
   -moz-animation-duration: $duration;
	 -o-animation-duration: $duration;
	  animation-duration: $duration;

  -webkit-animation-iteration-count: $iteration;
   -moz-animation-iteration-count: $iteration;
	 -o-animation-iteration-count: $iteration;
	  animation-iteration-count: $iteration;

  -webkit-animation-name: $name;
   -moz-animation-name: $name;
	 -o-animation-name: $name;
	  animation-name: $name;

  -webkit-animation-direction: $direction;
   -moz-animation-direction: $direction;
	 -o-animation-direction: $direction;
	  animation-direction: $direction;
}




/*
@include transition(height 2s);
*/
@mixin transition($transition...) {
	-moz-transition:    $transition;
	-o-transition:      $transition;
	-webkit-transition: $transition;
	transition:         $transition;
}
@mixin transition-property($property...) {
	-moz-transition-property:    $property;
	-o-transition-property:      $property;
	-webkit-transition-property: $property;
	transition-property:         $property;
}
@mixin transition-duration($duration...) {
	-moz-transition-property:    $duration;
	-o-transition-property:      $duration;
	-webkit-transition-property: $duration;
	transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
	-moz-transition-timing-function:    $timing;
	-o-transition-timing-function:      $timing;
	-webkit-transition-timing-function: $timing;
	transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
	-moz-transition-delay:    $delay;
	-o-transition-delay:      $delay;
	-webkit-transition-delay: $delay;
	transition-delay:         $delay;
}



/*----------------------------------

# Clearfix
Use with float element

----------------------------------*/

%clearfix {
  *zoom: 1;
  &:before, &:after {
	content: " ";
	display: table;
  }
  &:after {
	clear: both;
  }
}




/*----------------------------------

# Media
Responsive styles

----------------------------------*/

@mixin tablet(){
	@media only screen and (max-width: 992px) {
		@content;
	}
}
@mixin mobile(){
	@media only screen and (max-width: 767px) {
		@content;
	}
}
@mixin medium(){
  @media only screen and (max-width: 480px) {
	@content;
  }
}
@mixin tiny(){
  @media only screen and (max-width: 380px) {
	@content;
  }
}
@mixin media($maxwidth){
	@media only screen and (max-width: $maxwidth) {
		@content;
	}
}

/*----------------------------------

# --

----------------------------------*/

@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}



/*----------------------------------

# Position

----------------------------------*/

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null,$width:null,$height:null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin bgimage($image,$repeat:no-repeat,$x:left, $y:top,$w:auto,$h:auto){
  background-image: url("/assets/images/#{$image}");
  background-repeat: $repeat;
  background-position: $x $y;
  background-size: $w $h;
}



/*----------------------------------

# Flechas en enlace

----------------------------------*/
@mixin linkArrowRight($width:2px,$top:0,$right:0) {

  a {
	display: inline-block;
	position: relative;
  }

  a:before, a:after {
	  border-right: $width solid;
	  content: '';
	  display: block;
	  height: 8px;
	  margin-top: -6px;
	  position: absolute;
	  -moz-transform: rotate(135deg);
	  -o-transform: rotate(135deg);
	  -webkit-transform: rotate(135deg);
	  transform: rotate(135deg);
	  right: $right;
	  top: $top;
	  width: 0;
  }

  a:after {
	  margin-top: -1px;
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
  }
  a:hover, a:focus,
  a:hover:before, a:hover:after,
  a:focus:before, a:focus:after {
  }

}


.lq-clearfix {
  *zoom: 1;
  &:before, &:after {
	content: " ";
	display: table;
  }
  &:after {
	clear: both;
  }
}












