.lq-tips {
	display: block;
	width: 100%;
	max-width: 600px;
	background-color: #ffffff;
	padding-top: 40px;
	padding-bottom: 32px;
	border:1px solid #d9d9d9;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: auto;

	@include tablet(){
		width: 95%;
	}
	
	
	h1 {
		text-align: center;
		font-size: 18px;
		font-family: 'Omnes-Semibold';
		margin-top: 0;
		margin-bottom: 32px;
	}

	&__cont {
		width: 90%;
		margin: auto;
	}

	.lq-tip {
		display: block;
		float: left;
		width: 33.3333%;

		@include media(550px) {
			float: none;
			width: 100%;
			margin-bottom: 10px;
		}

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 26px;

		}
		p {
			text-align: center;
			margin-top: 0;
			margin-bottom: 10px;
		    line-height: 1.1;
			strong {
				color: $green;
			}
		}

	}

}