extends _layout.jade
block content
	.components

		.lq-legal-title Por favor, revisa tus datos y cartilla informativa sobre tu nueva 
			strong.s-a Cuenta Simple 
			strong.s-b de Interbank.

		.lq-legal
			.lq-legal__scroll-container
				.lq-legal__content
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.


		.lq-button Aceptar
			i

		.lq-legal-message 
			p.lq-legal-message__p Al aceptar estas de acuerdo con los 
				a(href="") Términos y Condiciones del Contrato.
			p.lq-legal-message__p.lq-legal-message__p--small *Te enviaremos una copia del contrato al e-mail que has ingresado





















