extends _layout.jade
block content
	.components
		h1.step-title 
			span.step-title__re1 Tómate una foto <br>
			|para validar tu identidad con 
			span.step-title__re2 Reniec


		h1.step-sub-title ¿Autorizas a 
			strong Interbank 
			|el acceso a tu cámara?

		.lq-tips
			h1.lq-tips__title Tips para que tu foto salga bien:
			.lq-tips__cont.lq-clearfix
				.lq-tip
					img(src="assets/images/laptop.png", alt="")
					p Asegurate que<br>aparezcas 
						strong centrado<br>en la pantalla
				.lq-tip
					img(src="assets/images/lentes.png", alt="")
					p Tómate la foto<br>
						strong Sin Lentes
				.lq-tip
					img(src="assets/images/dni.png", alt="")
					p Usa la misma<br>expresión que<br>en tu 
						strong DNI


		.lq-line

		.lq-button-group.lq-btn-group-a
			a.lq-button(href="") Si
				i
			a.lq-button(href="") No
				i

		
		.lq-messages.lq-messages--a
			img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
			.lq-messages__title
				|No podemos continuar
			.lq-messages__p
				|Para seguir el proceso necesitamos validar tu información con la Reniec y es necesario que te tomes una foto para poder seguir con la creación de tu<br>
				strong.lq-messages__strong-a Cuenta Simple 
				strong.lq-messages__strong-b en Interbank

			a.lq-button.i-left(href="")
				i
				|Regresar

		
		.lq-messages.lq-messages--b
			img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
			.lq-messages__title
				|No podemos continuar
			.lq-messages__p
				|En estos momentos no podemos antender la solicitud para crear tu <br>
				strong.lq-messages__strong-a Cuenta Simple 
				strong.lq-messages__strong-b en Interbank

			a.lq-button.i-left(href="")
				i
				|Regresar


		.lq-messages.lq-messages--c
			img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
			.lq-messages__title
				|Ups,
			.lq-messages__p
				|hemos tenido un problema validando tu foto con la Reniec, parece que has cambiado. Por favor acércate a una de nuestras tiendas para terminar el proceso y poder adquirir tu<br>
				strong.lq-messages__strong-a Cuenta Simple 
				strong.lq-messages__strong-b en Interbank
			.lq-line

			.lq-messages__p
				|Ubica tu tienda Interbank más cercana

			a.lq-button(href="")
				|Ubícalo aquí
				i


		.lq-messages.lq-messages--d
			img.lq-messages__icon(src="assets/images/message-icon-b.png", alt="")
			.lq-messages__title
				strong ¡Estamos creando tu Cuenta!
			.lq-messages__email
				|Te enviaremos un e-mail a<br>
				strong marjorie.romero@gmail.com
			.lq-messages__p
				|con toda la información de la apertura de tu Cuenta Simple
			.lq-line

			.lq-messages__p
				strong Recuerda recoger tu Tarjeta 
				|en cualquiera<br> de nuestras tiendas Interbank de 9:00 a.m. a 6:00 p.m.

			a.lq-messages__link(href="") Ubíca tu tienda más cercana aquí >

		.lq-messages.lq-messages--d
			img.lq-messages__icon(src="assets/images/message-icon-b.png", alt="")
			.lq-messages__title
				strong ¡Bienvenido a Interbank!
			.lq-messages__email
				|Te enviaremos un e-mail a<br>
				strong marjorie.romero@gmail.com
			.lq-messages__p
				|con toda la información de la apertura de tu Cuenta Simple<br>
				strong Nº 1234356789202223
			.lq-line

			.lq-messages__p
				strong Recuerda recoger tu Tarjeta 
				|en cualquiera<br> de nuestras tiendas Interbank de 9:00 a.m. a 6:00 p.m.

			a.lq-messages__link(href="") Ubíca tu tienda más cercana aquí >
				





















