extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Tómate una Foto
					p.lq-steps-header__p-one &nbsp;
				.lq-steps-header__image-bar

			.lq-steps-content.lq-steps-content-camera
				.lq-camera_doc-info
						|Tu número de DNI es: 44554455
				.lq-camera

					.lq-camera-image
						.lq-face-guide-layer
						img(src="assets/images/foto.jpg", alt="")
					.lq-cargar-foto-group
						button.lq-button.lq-button--noarrow.lq-tomar-foto Tomar foto
						.lq-cargar-foto-group__enviar
							input.lq-button.lq-enviar-foto(type="submit", value="Enviar")
							a.lq-volver-tomar-foto(href="#") Volver a tomar foto
					.lq-camera-error Por favor vuelve a cargar la imagen

				p.p03 *Recuerda que tu foto tiene que ser lo más parecida a la foto de tu DNI.


	include ./components/_footer.jade