extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Necesitamos tu foto
					p.lq-steps-header__p-one para continuar y abrir tu cuenta
				.lq-steps-header__image-bar

			.lq-steps-content
				.lq-messages.lq-messages--f
					article
						img.lq-messages__icon(src="assets/images/ic-face01.png", alt="")
						h2.lq-messages__title
							|¿Nos darías acceso a tu cámara?
						p.lq-messages__p.p__f
							|Para seguir tenemos que validar tu foto con RENIEC. 
							strong Regresa al paso anterior, 
							|haz clic en el botón Si para poder tomarte una foto y continuar.
						p.lq-messages__p
							|Sabemos que será una gran foto ;)

						a.lq-button.lq-button--small.lq-button--i-left(href="")
							i
							|Regresar


	include ./components/_footer.jade