extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Valida tus Datos
					p.lq-steps-header__p-one Necesitamos una Foto
				.lq-steps-header__image-bar

			.lq-steps-content
				.lq-messages.lq-messages--a
					article
						img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
						h2.lq-messages__title
							|No podemos continuar
						p.lq-messages__p
							|Para seguir el proceso necesitamos validar tu información con la Reniec y es necesario que te tomes una foto para poder seguir con la creación de tu<br>
							strong.lq-messages__strong-a Cuenta Simple 
							strong.lq-messages__strong-b en Interbank


	include ./components/_footer.jade