extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Valida tus Datos
					p.lq-steps-header__p-one Necesitamos una Foto
				.lq-steps-header__image-bar



			.lq-steps-position
				.lq-positions
					.lq-pos.lq-pos-1.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 1
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Regístrate
					.lq-pos.lq-pos-2.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 2
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Tómate una Foto
					.lq-pos.lq-pos-3.lq-pos-current
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 3
						.lq-pos__txt.lq-pos__txt-alpha
							.lq-pos__txt-det Completa tus Datos



			.lq-steps-content
				.title-59679
					|Hola Marjorie Romero,
				.title-86767
					|Responde las siguientes preguntas para verificar tu identidad
				
				.lq-faq-container
					.lq-faq-container__content.lq_faq_validation
						
						.lq-question-item

							.lq-question-item__question
								.lq-question-item__question-txt
									span.lq-question-item__question-txt-num 1. 
									|¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t?
								.lq-question-item__options.lq_faq_validation_question(data-faq-validation-name="preg01")

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input.lq_answer(type="radio", name="preg01")
												|Respuesta 1 Respuesta 1 Respuesta 1

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input.lq_answer(type="radio", name="preg01")
												|Respuesta 1 Respuesta 1 Respuesta 1

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input.lq_answer(type="radio", name="preg01")
												|Respuesta 1 Respuesta 1 Respuesta 1

							
							.lq-question-item__question
								.lq-question-item__question-txt
									span.lq-question-item__question-txt-num 2. 
									|¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod?
								.lq-question-item__options.lq_faq_validation_question(data-faq-validation-name="preg02")

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg02")
												|Consectetur adipisicing elit, sed do eiusmod adipisicin consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg02")
												|Cono eiusmod adipisicing el sectetur adipisicing elit, sed d

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg02")
												|Do eiusmectetur adipisicing elit, smod adipisicing eli


							
							.lq-question-item__question
								.lq-question-item__question-txt
									span.lq-question-item__question-txt-num 3. 
									|¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t?
								
								.lq-question-item__options.lq_faq_validation_question(data-faq-validation-name="preg03")
									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg03")
												|Respuesta 1

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg03")
												|Respuesta 2

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg03")
												|Respuesta 3
											
									
							.lq-question-item__question
								.lq-question-item__question-txt
									span.lq-question-item__question-txt-num 4. 
									|¿Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod?
								
								.lq-question-item__options.lq_faq_validation_question(data-faq-validation-name="preg04")
									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg04")
												|Cono eiusmod adipisicing el sectetur adipisicing elit, sed d

									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg04")
												|Do eiusmectetur adipisicing elit, smod adipisicing eli
									.lq-question-item__answer
										.lq-question-item__answer-wrap
											label.lq-question-item__answer-lbl()
												input.lq-question-item__answer-input(type="radio", name="preg04")
												|Consectetur adipisicing elit, sed do eiusmod adipisicin consectetur adipisicing elit, sed do eiusmod adipisicing elit, sed do eiusmod



				.lq-btn-grp-394867349
					a.lq-btn.lq-btn--one.send_faq(href="") Siguiente


	include ./components/_footer.jade