extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-alpha-content.lq-cols.lq-clearfix

			.lq-col.lq-col-50p
				.lq-bg-one
			
				
			.lq-col.lq-col-50p

				.lq-form-info
					h1.lq-main-title ¿Quieres abrir una 
						strong.lq-main-title__bold--alpha Cuenta Simple 
						strong.lq-main-title__bold--betha en Interbank?

					p.lq-basic-text Regístrate y obtenla fácilmente.
				
					form.lq-form-template.lq-validate-form.lq-form-step-01(action="http://interbank.com.pe/guardar", data-form="validate", data-captcha="true")
						.lq-form-template__row
							span.lq-form-template__green-line
							input.lq-form-template__field(type="tel", name="documento",id="documento", placeholder="Número de DNI", data-error="documento", data-form="rule", data-alpha="numeric", maxlength="8")
							span.form_error_message(class="form_error_message_documento")

						.lq-form-template__row
							span.lq-form-template__green-line
							input.lq-form-template__field(type="text", name="correo",id="correo", placeholder="Correo", data-error="correo", data-form="rule", data-alpha="email", maxlength="200")
							span.form_error_message(class="form_error_message_correo")

							
						.lq-form-template__row
							span.lq-form-template__green-line
							.lq-form-template-col-phone
								.lq-form-template-col-phone__a
									select.lq-form-template__field(name="operador",id="operador", data-error="operador", data-form="rule")
										option(value="", disabled="", selected="") Operador
										option(value="01") Movistar
										option(value="02") Claro
										option(value="03") Entel
										option(value="03") Otros
									span.form_error_message(class="form_error_message_operador")
								.lq-form-template-col-phone__b
									input.lq-form-template__field(type="tel", name="celular",id="celular", placeholder="Celular", data-error="celular", data-alpha="numeric", maxlength="9")
									span.form_error_message(class="form_error_message_celular")

						.lq-form-template__row
							label.lq-form-template__label-for-checkbox
								input(type="checkbox", name="terminos", id="terminos", data-error="terminos")
								|He leído y acepto la 
								a(href="/tratamiento-de-datos-personales", target="_blank") Política de tratamiento de Protección de datos personales.

							span.form_error_message(class="form_error_message_terminos")
						
						.lq-form-template__row
							.lq-recaptcha-container#recaptcha-container
								//- |<div class="g-recaptcha" data-sitekey="6LeuwwkUAAAAAMYQU_avAedus7eJowLAkXa0fIP2"></div>
							span.form_error_message(class="form_error_message_captcha")
								span

						.lq-form-template__row
							button.lq-button.lq-send-form-01(type='button', data-form="submit")
								| Siguiente
								i
							//- a.lq-button.lq-send-form-01(href="#",type='button', data-form="submit")
							//- 	| Siguiente
							//- 	i
							//- button.lq-button.lq-button--small.lq-send-form-01(type='button', data-form="submit")
							//- 	| Siguiente
							//- 	i
							//- a.lq-button.lq-button--small.lq-send-form-01(href="#",type='button', data-form="submit")
								| Siguiente
								i
							.loading-gif(data-form="loading")
								img(src="assets/images/loading.gif", alt="")

						.lq-form-template__row
							p.lq-basic-text.lq-basic-text--alert 
								|En el siguiente paso necesitarás una 
								strong cámara web 
								|para reconocerte.

	include ./components/_footer.jade



	//- .lq-parent
	//- 	.lq-input
	//- 		input#inumdoc(type="text", name="inumdoc", data-valid="dni", maxlength="8", data-holder="Número de DNI")
	//- 	span.lq-msgvalid
	//- 		| Ingresa tu DNI
	//- .lq-parent
	//- 	.lq-input
	//- 		input#iemail(type='text', name='iemail', data-valid='email', data-holder='Correo')
	//- 	span.lq-msgvalid
	//- 		| Ingresa tu e-mail
	//- .lq-parent
		.lq-input.lq-number
			input#itelefono(type='text', name='itelefono', data-valid='celu', data-holder='Celular', maxlength='9')
		span.lq-msgvalid
			| Ingresa tu celular


	//- .lq-item
		.lq-check
			input#iterminos(type='checkbox', name='iterminos', data-valid='required')
		label.lq-label(for='iterminos')
			| Acepto los 
			|He leído y acepto la 
			a(href='#') Política de tratamiento de Protección de datos personales.
		span.lq-msgvalid Debes aceptar los términos y condiciones
	//- .lq-div-alert  