extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Gracias por intentarlo
					p.lq-steps-header__p-one No pudimos validar tu foto
				.lq-steps-header__image-bar

			.lq-steps-content
				.lq-messages.lq-messages--c
					article
						img.lq-messages__icon(src="assets/images/ic-face01.png", alt="")
						h2.lq-messages__title
							|Ups,
						p.lq-messages__p.p__c--01
							|La foto que te has tomado no se parece lo suficiente a las fotos que tiene RENIEC.
						p.lq-messages__p.p__c--02
							|Seguiremos mejorando para ofrecerte una mejor experiencia
						p.lq-messages__p.p__c--03
							|Por favor acércate a tu tienda más cercana para abrir tu 
							strong.lq-messages__strong-a Cuenta Simple 
							strong.lq-messages__strong-b en Interbank
							
						//- .lq-line

						//- p.lq-messages__p
							|Ubica tu tienda Interbank más cercana

						a.lq-button.lq-button--small(href="")
							|Ubícanos aquí
							i


	include ./components/_footer.jade