extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one ¡Felicitaciones!
					p.lq-steps-header__p-one Ya tienes tu Cuenta
				.lq-steps-header__image-bar

			.lq-steps-content
								
				.lq-messages.lq-messages--d
					article
						img.lq-messages__icon(src="assets/images/message-icon-b.png", alt="")
						h2.lq-messages__title
							strong ¡Bienvenido a Interbank!
						p.lq-messages__email
							|Te enviaremos un e-mail a<br>
							strong marjorie.romero@gmail.com
						p.lq-messages__p
							|con toda la información de la apertura de tu Cuenta Simple<br>
							strong Número de cuenta: 1234356789202223
						.lq-line

						p.lq-messages__p
							strong Recuerda recoger tu Tarjeta 
							|en cualquiera<br> de nuestras tiendas Interbank de 9:00 a.m. a 6:00 p.m.

						a.lq-messages__link(href="") Ubícanos aqui >


	include ./components/_footer.jade