extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Valida tus Datos
					p.lq-steps-header__p-one Necesitamos una Foto
				.lq-steps-header__image-bar

			.lq-steps-content
				.lq-messages.lq-messages--a
					article
						img.lq-messages__icon(src="assets/images/loading.gif", alt="")
						h2.lq-messages__title
							|Espéranos unos segundos
						p.lq-messages__p
							|Estamos validando tus datos


	include ./components/_footer.jade