extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Has cambiando
					p.lq-steps-header__p-one No pudimos validar tu foto
				.lq-steps-header__image-bar

			.lq-steps-position
				.lq-positions
					.lq-pos.lq-pos-1.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 1
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Regístrate
					.lq-pos.lq-pos-2.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 2
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Tómate una Foto
					.lq-pos.lq-pos-3
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 3
						.lq-pos__txt.lq-pos__txt-alpha
							.lq-pos__txt-det Completa tus Datos

			.lq-steps-content

				.lq-messages.lq-messages--e
					img.lq-messages__icon(src="assets/images/ic-face02.png", alt="")
					.lq-camera_doc-info2
						|Tu número de DNI es: 44554455
					.lq-messages__title
						|¡Wow, parace que has cambiado!
					.lq-messages__p
						|Debes haber mejorado desde tu última foto con RENIEC y no ha sido posible
						|confirmar tu identidad. Revisa nuevamente estos tips y vuelve a tomarte la foto.
					.lq-line

					.lq-tips
						h1.lq-tips__title Tips para que tu foto salga bien:
						.lq-tips__cont.lq-clearfix
							.lq-tip
								img(src="assets/images/laptop.png", alt="")
								p Asegúrate que<br>aparezcas 
									strong centrado<br>en la pantalla
							.lq-tip
								img(src="assets/images/lentes.png", alt="")
								p Tómate la foto<br>
									strong Sin Lentes
							.lq-tip
								img(src="assets/images/dni.png", alt="")
								p Usa la misma<br>expresión que<br>en tu 
									strong DNI
					a.lq-button.lq-button--small.lq-button--i-left(href="")
						i
						|Regresar


	include ./components/_footer.jade