/* ==========================================================================
   Custom @font styles
   ========================================================================== */

@font-face {
    font-family: 'Omnes-Light';
    src: url('../fonts/omnes-light.eot');
    src: url('../fonts/omnes-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-light.woff2') format('woff2'),
         url('../fonts/omnes-light.woff') format('woff'),
         url('../fonts/omnes-light.ttf') format('truetype'),
         url('../fonts/omnes-light.svg#omneslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Omnes-Regular';
  src: url("../fonts/omnes-regular.eot");
  src: url("../fonts/omnes-regular.eot?#iefix") format('embedded-opentype'), 
  	   url("../fonts/omnes-regular.woff2") format('woff2'), 
	   url("../fonts/omnes-regular.woff") format('woff'), 
	   url("../fonts/omnes-regular.ttf") format('truetype'), 
	   url("../fonts/omnes-regular.svg#Omnes-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Omnes-Medium';
  src: url("../fonts/omnes-medium.eot");
  src: url("../fonts/omnes-medium.eot?#iefix") format('embedded-opentype'), 
  	   url("../fonts/omnes-medium.woff2") format('woff2'), 
	   url("../fonts/omnes-medium.woff") format('woff'), 
	   url("../fonts/omnes-medium.ttf") format('truetype'), 
	   url("../fonts/omnes-medium.svg#Omnes-Medium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Omnes-Semibold';
    src: url('../fonts/omnes-semibold.eot');
    src: url('../fonts/omnes-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-semibold.woff2') format('woff2'),
         url('../fonts/omnes-semibold.woff') format('woff'),
         url('../fonts/omnes-semibold.ttf') format('truetype'),
         url('../fonts/omnes-semibold.svg#Omnes-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body { margin: 0; padding: 0; }
img { border:none; }

.lq-main { margin:0; padding:0; font-family: 'Omnes-Regular'; min-width: 940px; }
.lq-main .lq-content { margin: 0 auto; width: 940px; }
.lq-main .lq-wrap { margin: 0 auto; width: 940px; }
.lq-main .lq-nomargin { margin: 0 !important; }

.lq-main .lq-header{ padding-bottom:40px;}
.lq-main .lq-logo{ height:65px;}
.lq-main .lq-logo img{ padding-top:19px;}
.lq-main .lq-breadcrumb .lq-wrap { text-indent:20px; position:relative;}
.lq-main .lq-breadcrumb{ border-top:1px solid #e0e0e0; background:#f5f5f5; line-height:29px;  font-family: 'Omnes-Medium'; font-size:14px; color:#a0a0a0;}
.lq-main .lq-breadcrumb i{ width:8px; height:12px; display:block; background:url(../img/arrow-bread.png) no-repeat 0 0; position:absolute; left:0; top:50%; margin-top:-6px;}
.lq-main .lq-breadcrumb a{ color:#009b3a; text-decoration:none;}
.lq-main .lq-breadcrumb a:hover, .lq-main .lq-breadcrumb a:active{ text-decoration:underline;}

.lq-main .lq-footer{ border-top:3px solid #f5f5f5; clear:both; margin-top:100px;}
.lq-main .lq-foot{ margin: 0 auto; width: 940px; color:#aeaeae; font-size:14px; overflow:hidden; position:relative; line-height:130% }
.lq-main .lq-foot .lq-foot1{ width:400px; height:62px; padding:20px 0 0 125px; background:url(../img/icon-phone.png) no-repeat  60px 20px; float:left;}
.lq-main .lq-foot .lq-foot1 strong{ color:#009b3a; font-family: 'Omnes-Semibold'; font-weight:normal;}
.lq-main .lq-foot .lq-foot2{ width:140px;height:62px; padding:20px 0 0 25px; float:left;font-family: 'Omnes-Medium'; border-left:2px solid #f5f5f5;}
.lq-main .lq-foot .lq-foot2 strong{ font-family: 'Omnes-Semibold'; font-size:20px; display:block; color:#009b3a; font-weight:normal;}
.lq-main .lq-copy{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#aeaeae; line-height:120%; background:#f5f5f5; text-align:center; padding:20px 0 40px;}

.lq-main .lq-initial{ width:700px; margin:0 auto; background:#f5f5f5;text-align:center; padding-bottom:50px}
.lq-main .lq-formbig{ width:815px; margin:0 auto; background:#f5f5f5;text-align:center; padding-bottom:50px}
.lq-main .lq-formbig.lq-w940{ width:940px; padding-bottom:0 }
.lq-main .lq-login-h2{ font-size:22px; background:#009b3a; color:#fff;  padding:35px 0; font-weight:normal; line-height:150%;position:relative; margin-bottom:50px;}
.lq-main .lq-login-h2 strong{ font-family: 'Omnes-Semibold'; font-weight:normal; font-size:33px;}
.lq-main .lq-login-h2 strong.lq-size28{ font-size: 28px; }
.lq-main .lq-login-h2 i, .lq-main .lq-tab > div em{width: 0; height: 0; border-style: solid; border-width: 10px 10px 0 10px; border-color: #009b3a transparent transparent transparent; position:absolute; left:50%; margin-left:-10px; bottom:-10px; *bottom: 0px; display:block;}
.lq-main .lq-tab > div em{ bottom: auto; top:-20px; display:none;}
.lq-main .lq-formbig .lq-login-h2{font-size:16px;}
.lq-main .lq-formbig .lq-login-h2 strong{ font-size:50px;}
.lq-main .lq-formbig .lq-login-h2 span{ font-family: 'Omnes-Medium';}

.lq-main .lq-preaprobado, .lq-main .lq-bpi{ width:901px; margin:0 auto; background:#f5f5f5;text-align:center; overflow:hidden;}
.lq-main .lq-preaprobado .lq-img, .lq-main .lq-bpi .lq-img{ width:351px; height:544px; float:left;  background:url(../files/bg-campania-registrado.png) no-repeat;}
.lq-main .lq-preaprobado .lq-img p, .lq-main .lq-bpi .lq-img p{font-family: 'Omnes-Semibold'; font-size:50px; color:#fff; padding:230px 0 0; margin:0; line-height:100%;}

.lq-main .lq-preaprobado .lq-preform{ width:550px;height:544px; float:left;}
.lq-main .lq-preaprobado .lq-preform h2{ font-size:16px; color:#333333; font-weight:normal; padding:110px 0 20px; line-height:150%; text-align:left}
.lq-main .lq-preaprobado .lq-preform h2 strong{font-family: 'Omnes-Semibold'; font-weight:normal; font-size:24px;}

.lq-main .lq-bpi{background:#eee;}
.lq-main .lq-bpi .lq-img{ height:694px; background:url(../files/bg-campania-bpi.png) no-repeat; position:relative; z-index:5;}
.lq-main .lq-bpi .lq-img p{ padding-top:290px;}
.lq-main .lq-bpi .lq-preform1{ width:558px;height:291px; float:left; margin-left:-8px; position:relative; background:#f7f7f7;}
.lq-main .lq-bpi .lq-preform2{ width:558px;float:left; margin-left:-8px; position:relative;}

.lq-main .lq-bold{ font-family: 'Omnes-Semibold';}
.lq-main .lq-bpi .lq-bpi-head{ line-height:140%; text-align:left;}
.lq-main .lq-bpi .lq-bpi-head strong{font-family: 'Omnes-Semibold'; font-weight: normal;}
.lq-main .lq-bpi .lq-preform1 .lq-bpi-head strong{ font-size:18px;}
.lq-main .lq-bpi .lq-preform1 .lq-bpi-head{ padding-top:65px;}
.lq-main .lq-bpi .lq-preform2 .lq-bpi-head{ padding-top:55px; padding-bottom:25px}

/* fields */
.lq-main .lq-button { background: #d41653; color: #fff; height: 47px; line-height: 45px; padding: 0 30px; cursor: pointer; display: inline-block; outline: none; font-weight: normal; text-align:center; border:1px solid #d41653; vertical-align:top; font-family: "Omnes-Semibold"; font-size:20px; margin-top:15px; text-decoration:none;-webkit-border-top-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-bottomright: 8px; border-top-left-radius: 8px; border-bottom-right-radius: 8px;}
.lq-main .lq-button:hover, .lq-main .lq-button:active { text-decoration: none !important;color: #fff; }
.lq-main .lq-button.lq-button-disabled { border-color: #bfbfbf; color:#bbbbbb; background: transparent; }
.lq-main .lq-button.lq-button-white { border-color: #bfbfbf; color:#bbbbbb; background: #ffffff; }
.lq-main .lq-button i { display:inline-block; *display:inline; zoom:1; width:10px; height:16px; vertical-align:middle; margin-left:25px; background:url(../img/arrow-btn.png) no-repeat 0 0;}
.lq-main .lq-button.lq-button-disabled i { background:url(../img/arrow-btn-grey.png); }
.lq-main .lq-button.lq-button-white.lq-prev i{ background:url(../img/arrow-btn-grey-prev.png); margin-left:0; margin-right:20px;}
    
.lq-main .lq-parent {margin-bottom: 10px; position:relative;}
.lq-main .lq-parent.fixruc{ display: none; }
.lq-main .lq-input, .lq-main .lq-pull { padding:0  20px; background: #fff; height: 48px; border: solid 1px #d2d2d2; position:relative;-webkit-transition: all 350ms;-moz-transition: all 350ms;-o-transition: all 350ms;transition: all 350ms;}
.lq-main .lq-input input { background: none; border: none; width: 100%; height:20px; line-height:20px; box-shadow: none; -webkit-box-shadow: none ; outline: none; padding: 0; margin:14px 0 0; font-family: 'Omnes-Medium'; font-size: 16px; color: #aeaeae; }
.lq-main .lq-input.ok input, .lq-main .lq-input.focus input { color: #333333; box-shadow:none; outline: none; }
.lq-main .error .lq-input, .lq-main .error .lq-pull{ border-color: #d41653 ; }
.lq-main .error .lq-input input, .lq-main .error .lq-pull div{ color: #d41653; }
.lq-main .lq-input.focus{ border-color:#009b3a;}
.lq-main .lq-input.focus input{  color: #009b3a;}
.lq-main .error .lq-msgvalid, .lq-main .lq-item.error .lq-msgvalid{ display:block; }
.lq-main .error .lq-msgempty{ display: none; }
.lq-main .lq-empty.error .lq-msgvalid{ display: none; }
.lq-main .lq-empty.error .lq-msgempty{ display: block; }

.lq-main .lq-item .lq-msgvalid{ position:static; width:100%; text-indent: 29px; padding-top:4px;}
.lq-main .lq-item.lq-acenter .lq-msgvalid{text-align:center; text-indent:56px; }
.lq-main .lq-msgvalid{ font-family: 'Omnes-Medium'; font-size: 11px; color:#d41653; position:absolute; width:100px; line-height:120%; top:11px; right: -110px; text-align:left; display:none;}
.lq-main .lq-input-info{ font-size:12px; font-family: 'Omnes-Medium';color:#aeaeae;text-align:right; }
.lq-main .lq-input-info a{ text-decoration:underline; color:#1361ac; }

.lq-main .lq-input em, .lq-main .lq-pull em{ width:5px; height:50px; background:#009b3a; display:block; position:absolute; left:-1px; top:-1px; -webkit-transition: all 350ms; -moz-transition: all 350ms; -o-transition: all 350ms; transition: all 350ms;}
.lq-main .error .lq-input em, .lq-main .error  .lq-pull em{ background:#d41653; }
.lq-main .lq-input.lq-noborder em, .lq-main .lq-pull.lq-noborder em{ display:none}
.lq-main .error .lq-input.focus em{background: #009b3a;}

.lq-main .lq-parent.lq-mesbig{ width:306px; float:left;}
.lq-main .lq-parent.lq-dia{ width:130px; float:left;}
.lq-main .lq-parent.lq-mes{ width:177px; float:left; margin-left:-1px}
.lq-main .lq-parent.lq-anio{ width:155px; float:left; margin-left:-1px}
.lq-main .lq-parent.lq-dia.error, .lq-main .lq-parent.lq-mes.error{ position:relative; z-index:2;}

.lq-main .lq-dia .lq-msgvalid{ right: -440px; }
.lq-main .lq-mes .lq-msgvalid{ right: -264px; }
.lq-main .lq-mesbig .lq-msgvalid{ right: -263px; }
.lq-main .lq-tiempo-a .lq-msgvalid{ right: -456px;}
.lq-main .lq-tiempo-m .lq-msgvalid{ right: -221px;}
.lq-main .lq-tiempo-a, .lq-main .lq-tiempo-m, .lq-main .lq-tiempo-txt{ width:113px; float:left;}
.lq-main .lq-tiempo-m{ margin-left:10px;}
.lq-main .lq-tiempo-txt{font-family: 'Omnes-Medium'; font-size: 16px; color:#aeaeae; line-height:48px; border:1px solid #d2d2d2; border-left:none; padding-left:20px; width:91px; background:#fff; text-align:left;}
.lq-main .error .lq-tiempo-txt{ border-color: #d41653 ;}

.lq-main .lq-content-inputs{  background:url(../img/points-bg.png) repeat-y 5px 25px; padding-left:65px; position:relative;}
.lq-main .lq-point-form .lq-parent.lq-dia{ width:119px; }
.lq-main .lq-point-form .lq-parent.lq-mes{ width:181px; margin-left:-1px}
.lq-main .lq-point-form .lq-parent.lq-anio{ width:122px; margin-left:-1px}
.lq-main .lq-point-form .lq-dia .lq-msgvalid{ right: -411px;}
.lq-main .lq-point-form .lq-mes .lq-msgvalid{ right: -231px;}
.lq-main .lq-point-form .lq-tiempo-a, 
.lq-main .lq-point-form .lq-tiempo-m, 
.lq-main .lq-point-form .lq-tiempo-txt{ width:92px}
.lq-main .lq-point-form .lq-tiempo-a .lq-msgvalid{ right:-437px;}
.lq-main .lq-point-form .lq-tiempo-m .lq-msgvalid{ right:-222px;}

.lq-main .lq-pull{background:#fff url(../img/bg-pull.png) no-repeat right 50%;}
.lq-main .lq-pull div { width: 100%; overflow: hidden; word-wrap: break-word; text-align: left; margin: 0; font-family: 'Omnes-Medium'; font-size:16px; line-height:48px; color: #aeaeae; }
.lq-main .lq-pull.ok div { color: #333333; }
.lq-main .lq-pull select { width: 100%; position: absolute; left: 0; top: 10px; filter:alpha(opacity=0); opacity: 0; -moz-opacity:0; cursor: pointer; background:none; border:none; padding:0; margin:0;  }
.lq-main .lq-pull select:focus{ outline: none; }
.lq-main .lq-pull select option{ padding-left:20px; font-family:'Omnes-Medium'; font-size:14px; line-height:100%; color: #333333;}
.lq-check { border: solid 1px #d2d2d2; background: #fff; margin-right: 11px; width: 12px; height: 12px; float: left; cursor: pointer; }
.lq-check.error { border-color: #d41653; }
.lq-check.checked { background: url(../img/bg-check.png) no-repeat center center; }
.lq-check input { display: none; }

/* form */
.lq-main .top-form { min-height: 70px; }
.lq-main .lq-group-captcha{ padding-top: 5px; }
.lq-main .lq-group-captcha .lq-parent{ width: 310px; float: left; }
.lq-main .lq-captcha { width: 150px; min-height: 50px; float: left; position: relative;}
.lq-main .lq-captcha .lq-img{ text-align: left; padding-top: 11px; }
.lq-main .lq-captcha i{ display: block; width: 16px; height: 16px; background: url(../img/refresh.png) no-repeat 0 0; cursor: pointer; top: 17px; right: 20px; position: absolute; z-index: 5;}
.lq-main .lq-captcha.error .lq-msgvalid{ display:block}
.lq-main .lq-point-form .lq-group-captcha{ padding: 25px 0 10px 65px; }
.lq-main .lq-point-form .lq-group-captcha .lq-parent{ width: 270px }
.lq-main .lq-tab-contents .lq-group-captcha{ padding: 25px 0 10px; }

.lq-main .lq-h6{ font-size:14px; color:#aeaeae; padding:0 0 10px;  margin:0;  font-family: 'Omnes-Regular'; font-weight:normal; text-align:left; position:relative}
.lq-main .lq-h6 span{ color:#aeaeae}
.lq-main .lq-h6 .lq-tooltip{ top:3px;}
.lq-main .lq-h6.lq-txtbig{color:#333333; font-size:16px; font-family: 'Omnes-Medium';}

.lq-main .lq-points{ width:193px; float:left; min-height:100px}
.lq-main .lq-points > div{ width:13px; float:right; margin-right:-13px;position:relative; z-index: 5}
.lq-main .lq-points .lq-bar{ width:3px; height:0; background:#009b3a; position:absolute; z-index:5; left:5px; top:0; -webkit-transition: height 350ms; -moz-transition: height 350ms; -o-transition: height 350ms; transition: height 350ms}
.lq-main .lq-points .lq-point-focus{width:13px; height:13px; background: url(../img/points.png) no-repeat 0 -69px; position:absolute; z-index:10; display:none; left:0; top:18px; -webkit-transition: top 350ms; -moz-transition: top 350ms; -o-transition: top 350ms; transition: top 350ms;}
.lq-main .lq-points .lq-sup-bar, .lq-main .lq-points .lq-sub-bar{ height:18px; background:#f5f5f5; position:absolute; left:0; top:0; z-index:3; width:100%;}
.lq-main .lq-points .lq-sub-bar{ top:auto; bottom:0;}
.lq-main .lq-point-form{float:left; width:485px; }
.lq-main .lq-point-form .lq-point-default-txt{ width:145px; font-size:16px; font-family: 'Omnes-Semibold'; /*color:#aeaeae;*/ color:#009b3a; line-height:120%; position:absolute; left:-210px; top:15px; text-align:left; /*z-index:5*/}
.lq-main .lq-point-form .lq-point-default{ width:13px; height:13px; background: url(../img/points.png) no-repeat 0 -23px; position:absolute; left:-65px; top:18px; z-index:4;}
.lq-main .lq-point-form .lq-point-default.lq-ok{ background-position:0 0}

.lq-main .lq-tooltip{ width:16px; height:16px; position:absolute; left:-32px; top:17px; background: url(../img/icon-info.png) no-repeat 0 0;}
.lq-main .lq-tooltip > div{ position:relative;}
.lq-main .lq-tooltip .lq-tooltip-body{width:165px; height:86px; position:absolute; left:-167px; top:-33px; background: url(../img/tooltip.png) no-repeat 0 0; display:none; z-index:20; padding-right:10px;}
.lq-main .lq-tooltip .lq-tooltip-body > div{color:#333333; font-size:12px; font-family: 'Omnes-Medium'; line-height:130%; margin:15px 10px 0 15px; text-align:left;}

.lq-main .lq-tooltip.lq-toolright{ left:auto; right:-142px;}
.lq-main .lq-tooltip.lq-toolright .lq-tooltip-body{background:url(../img/tooltip-r.png) no-repeat 5px 0;left:auto; right:-165px; padding-right:0; padding-left:5px;}

.lq-main .lq-div-alert { color: #d41653; font-size: 12px; }
.lq-main .lq-footer-text { text-align: center; line-height:100%; padding-top:7px; }
.lq-main .lq-footer-text a { font-size:12px; color:#1361ac; text-decoration: underline; }
.lq-main .lq-footer-text a:hover { text-decoration: none; }

.lq-form .top-form-name { background: url(../files/bg-campania-registrado.png) no-repeat center top; height: 293px; }
.lq-form .top-form-name p { margin: 0; padding-top: 120px; font-size: 50px; font-family: 'Omnes-Semibold'; color: #fff; }

.lq-productos-campania h2 { font-size: 50px; color: #009b3a; font-family: 'Omnes-Semibold'; font-weight: normal; margin-bottom: 10px; margin-top:0 }
.lq-productos-campania p { font-size: 16px; margin: 0 44px 30px; line-height: 24px; }
.lq-productos-campania p strong { font-size: 16px; font-family: 'Omnes-Semibold'; font-weight: normal; display: block;;}
.lq-productos-campania p strong span{color: #009b3a;}
.lq-productos-campania .lq-item, .lq-main .lq-item { width: 460px; margin: 0 auto; text-align: left; font-size: 12px; color: #858585; }
.lq-productos-campania .lq-item .lq-check, .lq-main .lq-item .lq-check  { display:inline-block; *display:inline; zoom:1; vertical-align:middle; float:none }
.lq-productos-campania .lq-item a, .lq-main .lq-item a { color: #1361ac; text-decoration: underline; }
.lq-productos-campania .lq-item a:hover, .lq-main .lq-item a:hover { text-decoration: none; }
.lq-main .lq-item label{ display:inline-block; *display:inline; zoom:1; padding:0; margin:0; left; font-size: 12px; }
.lq-main .lq-item.lq-acenter, .lq-main .lq-acenter{ text-align:center} 
.lq-main .lq-item.error .lq-check { border-color: #d41653; }

.lq-main .lq-apps{ width:520px; height:215px; border:1px solid #e3e3e3; background:#fff; margin:0 auto; font-size:16px; font-family: 'Omnes-Medium'; color:#aeaeae; line-height:120%; text-align:left;}
.lq-main .lq-apps-img{ width:220px; float:left;}
.lq-main .lq-apps p{ padding-top:30px; margin:0; line-height:120%; padding-bottom:50px}
.lq-main .lq-txt1{ color:#333333; font-size:24px;  font-family: 'Omnes-Regular'; line-height:120%}
.lq-main .lq-txt2{ color:#009b3a; font-size:34px;  font-family: 'Omnes-Semibold'; line-height:120%}
.lq-main .lq-txt3{ color:#009b3a; font-size:24px;  font-family: 'Omnes-Semibold';line-height:120%}
.lq-main .lq-txt4{ color:#333333; font-size:12px;  font-family: 'Omnes-Regular'; padding:5px 0 40px;line-height:120%}

.lq-tarjeta-form { padding-top: 43px; }
.lq-tarjeta-confirm { display: none; }
.lq-productos-campania .lq-text { background: #fff; padding: 0 0 10px; }

.lq-ofertas { border-top: solid 4px #efefef; padding: 45px 0 70px; background:#f5f5f5; overflow:hidden;}
.lq-ofertas .lq-prod { width: 402px; height: 217px; background: #fff; border: solid 1px #e3e3e3; position: relative; }
.lq-ofertas .lq-prod.lq-prod-left { float: left; margin-left: 43px; }
.lq-ofertas .lq-prod.lq-prod-right { float: right; margin-right: 43px; }

.lq-ofertas .lq-prod p { text-align: left; font-size: 16px; color: #aeaeae; line-height: 20px; margin: 30px 0 0 34px; }
.lq-ofertas .lq-prod strong { display: inline; font-size: 16px; font-family: 'Omnes-Semibold'; font-weight: normal; }
.lq-ofertas .lq-prod .lq-simular { display: block; margin-top: 16px; color: #1361ac; text-decoration: underline; font-size: 12px; }
.lq-ofertas .lq-prod img { position: absolute; right: 33px; top: 25px; }
.lq-ofertas .lq-prod .lq-foot { width: 100%; border-top: solid 1px #e3e3e3; position: absolute; bottom: 0; left: 0; height: 82px; line-height: 82px; }
.lq-ofertas .lq-prod .lq-foot p { color: #009b3a; margin: 0 33px; line-height: 78px; }
.lq-ofertas .lq-prod .lq-foot .lq-button { height: 40px; line-height: 40px; border: none; color: #fff; font-size: 16px; float: right; margin-top:20px; }
.lq-ofertas .lq-prod .lq-foot .lq-viewdet{color: #009b3a;} 

.lq-main .lq-w50p{ width:50%; float:left; position:relative}
.lq-main .lq-w50{ width:188px; float:left;}
.lq-main .lq-w460{ width:460px; margin:0 auto}   
.lq-main .lq-w360{ width:360px; margin:0 auto} 
.lq-main .lq-w390{ width:390px; margin:0 auto} 
.lq-main .both{ clear:both}
.lq-main .ml1{ margin-left:-1px}
.lq-main .mb10{ margin-bottom:10px;}
.lq-main .lq-pt80{ padding-top:80px;}
.lq-main .lq-linkblue{ color:#0072bc; text-decoration:underline;}

.lq-main .lq-info-step{ color:#fff; font-family: 'Omnes-Regular'; font-size:22px; text-align:center; background:#009b3a; padding:30px 0 0; min-height:160px}
.lq-main .lq-info-step strong, .lq-main .lq-msg-thanks strong{ font-size:33px;font-family: 'Omnes-Semibold'; display:block; line-height:100%; font-weight:normal; padding:5px 0 5px;}
.lq-main .lq-info-step .lq-leyend{ font-size:13px; padding-top:10px;}
.lq-main .lq-info-step > div{ display:none;}
.lq-main .lq-info-step > div.this{ display:block;}
.lq-main .lq-info-step2 .lq-marca-tarjetas, .lq-main .lq-msg-thanks .lq-marca-tarjetas{ border-top:1px solid #fff; width:520px; margin:0 auto; margin-top:10px}
.lq-main .lq-info-step2 .lq-marca-tarjetas > div, .lq-main .lq-msg-thanks .lq-marca-tarjetas > div{ text-align:center; width:33%; float:left;}
.lq-main .lq-info-step2 .lq-marca-tarjetas > div span, .lq-main .lq-msg-thanks .lq-marca-tarjetas > div span{ font-size:13px; display:block; padding-top:10px;}
.lq-main .lq-info-step2 .lq-marca-tarjetas > div{ font-size: 20px; }
.lq-main .lq-msg-thanks strong{ color:#009b3a}
.lq-main .lq-msg-thanks .lq-marca-tarjetas > div span{color:#009b3a}
.lq-main .lq-msg-thanks{ text-align:center; font-size:22px; color:#333333; padding-bottom:70px; overflow:hidden;}

.lq-main .lq-tab{ overflow:hidden;  padding-top:20px}
.lq-main .lq-tab > div{ width:33.3333%; font-size:18px; font-family: 'Omnes-Medium'; color:#c2c2c2; float:left; border-bottom:4px solid #efefef; line-height:80px; height:80px; text-align:center; position:relative;}

.lq-main .lq-tab > div span{  position:relative; padding-left:50px}
.lq-main .lq-tab > div span i{ position:absolute; display:block; left:0; top:-13px; }
.lq-main .lq-tab .lq-tab1 span i{width:45px; height:30px; background:url(../img/icon-tarj.png) no-repeat 0 -30px; top:-5px;}
.lq-main .lq-tab .lq-tab2 span i{width:31px; height:41px; background:url(../img/icon-profile.png) no-repeat 0 -41px;}
.lq-main .lq-tab .lq-tab3 span i{width:43px; height:41px; background:url(../img/icon-bag.png) no-repeat 0 -41px;}

.lq-main .lq-tab > div.this{ color:#009b3a; border-color:#009b3a;}
.lq-main .lq-tab > div.this em{ display:block}
.lq-main .lq-tab1.this span i,
.lq-main .lq-tab2.this span i,
.lq-main .lq-tab3.this span i{ background-position:0 0;}
.lq-main .lq-tab-contents{ background:#f5f5f5; padding:50px 0 70px;}
.lq-main .lq-tab-content{ display:none;}
.lq-main .lq-tab-content:first-child{ display:block;}
.lq-main #lq-step-control{ clear:both; padding-top:30px}
.lq-main #lq-step-control .lq-prev{display:none; float:left;}
.lq-main #lq-step-control .lq-next{float:right}
.lq-main #lq-step-control .lq-finish{display:none; float:right}
.lq-main .lq-step-footer{ border-top:1px solid #d2d2d2; font-size:12px; color:#858585; text-align:center; margin-top:60px; padding-top:20px; clear:both;font-family: 'Omnes-Medium';}

#lq-overlay{background:url(../img/overlay.png) repeat 0 0;width:100%;height:100%;position:fixed;z-index:100;left:0;top:0;display:none;}
.lq-box{display:none;position:fixed;z-index:110;left:50%;top:120px;width:700px;margin-left:-350px;background:#fff;}
.lq-box > div{ position:relative; }
.lq-boxclose{width:24px;height:24px;display:block;position:absolute;background:url(../img/close-box.png) no-repeat 0 0;top:10px;right:-40px;cursor:pointer;z-index:110;}
.lq-main .lq-box .lq-login-h2{ margin-top:0;}
.lq-main .lq-box.lq-terms{ top: 30px; }
.lq-main .lq-box.lq-terms .lq-initial{ padding-bottom: 10px; }
.lq-main .lq-box.lq-terms .lq-login-h2{ margin-bottom:35px;}
.lq-main .lq-box .ld-termsdesc{ padding: 0 20px;  text-align: left; overflow: hidden; overflow-y: auto;}
.lq-main #lq-boxData{ max-height: 445px; }
.lq-main #lq-boxCuentaSueldo{ max-height: 315px; top: 100px !important;}
.lq-main .lq-size16{ font-size: 16px; }
.lq-main #lq-overloader{background:url(../img/overlay-white.png) repeat 0 0; width:100%;height:100%;position:fixed;z-index:200;left:0;top:0; display: none;}
.lq-main #lq-overloader img{ position: fixed; left: 50%; top: 50%; margin: -60px 0 0 -60px; }
.lq-main .lq-box .ld-thankdesc{ font-size: 20px; text-align: center; font-family: 'Omnes-Regular'; line-height: 130%; padding: 0 90px;}

.lq-main .lq-summary{width: 525px; margin: 0 auto 50px; background: #f5f5f5;}
.lq-main .lq-summary ul{ overflow: hidden; margin: 0 }
.lq-main .lq-summary ul li{ display: block; float: left; padding:0 0 10px 7.5%; text-align:left; width:65%; font-size:16px; font-family:'Omnes-Regular'; color:#333; line-height: 140%;}
.lq-main .lq-summary ul li:first-child{ width: 20%; background: #eeeeee; color:#009b3a; font-family: 'Omnes-Semibold'; }
.lq-main .lq-summary ul:first-child li{ padding-top: 35px }
.lq-main .lq-summary ul.first li{ padding-bottom: 35px; }



.lq-formbig .form_message {
  display: none;
  padding-top: 230px;
  color:#009b3a;
  
}
.lq-formbig .form_message h2 {
  font-size: 36px;
  font-family: 'Omnes-Semibold';
  color:#009b3a;
}
.lq-formbig .form_message p {
  font-size: 24px;
  font-family: 'Omnes-Medium';
}

.lq-formbig.lq-formbig {
  min-height: 600px;
}
.lq-formbig.form-submited .lq-login-h2 {
  display: none;
}
.lq-formbig.form-submited .form_message {
  display: block;
  
}
.lq-main {
  margin-top: 30px;
}
.lq-main .lq-button {
  text-shadow: none;
  float: none;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

}
.lq-main .lq-login-h2 {
  margin-left: 0;
}




/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line { background: transparent !important; color: #000 !important;  box-shadow: none !important; text-shadow: none !important; }

    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }

    a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }

    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
}
