//- layout.pug
doctype html
html.aui(lang="es",class="no-js")
	head
		title Interbank
		meta(charset="utf-8")
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")

		meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0" )
		//- meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=false" )
		//- meta(name="viewport", content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" )


		link(rel="stylesheet", href="assets/css-liferay/aui.css")

		link(rel="stylesheet", href="assets/css/jquery.jscrollpane.css")
		
			
		link(rel="stylesheet", href="assets/css/main.css?v=46456")
		link(rel="stylesheet", href="assets/css/style.css?v=6566")

		script(src="https://www.google.com/recaptcha/api.js" async defer)

	body
		.lq-main
			block content

		script(src="assets/js/jquery-1.12.0.min.js")
		script(src="assets/js/jquery.validate.js")
		script(src="assets/js/jquery.alphanumeric.pack.js")
		script(src="assets/js/jquery.jscrollpane.min.js")
		script(src="assets/js/jquery.mousewheel.js")
		script(src="assets/js/moment.min.js")
		script(src="assets/js/jquery.scrollTo.min.js")
		script(src="assets/js/init.js?v=4534534")




			