extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one ¡Felicitaciones!
					p.lq-steps-header__p-one Tienes aprobada una Tarjeta de Crédito
				.lq-steps-header__image-bar

			.lq-steps-content
				.lq-html-products
					.tile-987
						|Tienes aprobada una tarjeta<br>
						strong Visa Cashback

					img.lq-html-products-img(src="assets/images/productos-visacashback.png")



					p.lq-txt-8987 ¿Quieres solicitar alguna de estas tarjetas?

					.lq-btns-35687
						.lq-btns-align-left
							a.lq-btn.lq-btn--one(href="") Sí, quiero una tarjeta
							a.lq-btn.lq-btn--two(href="") No me interesa


					.lq-line-776


					.lq-tc-beneficios
						.lq-tc-beneficios__items.clearfix
							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-01.png")
									p.lq-tc-beneficios__txt
										|Promociones<br>exclusivas Visa<br>nacionales e<br>internacionales

							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-06.png")
									p.lq-tc-beneficios__txt
										strong Noches Visa:<br>
										|Descuento exclusivo de<br>hasta 40% en más de 350<br>establecimientos

							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-03.png")
									p.lq-tc-beneficios__txt
										|Protección<br>de Precios





					









				


	include ./components/_footer.jade