extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content.lq-content-form
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Completa tus datos
					p.lq-steps-header__p-one y revisa las condiciones
				.lq-steps-header__image-bar

			.lq-steps-position
				.lq-positions
					.lq-pos.lq-pos-1.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 1
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Regístrate
					.lq-pos.lq-pos-2.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 2
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Tómate una Foto
					.lq-pos.lq-pos-3.lq-pos-current
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 3
						.lq-pos__txt.lq-pos__txt-alpha
							.lq-pos__txt-det Completa tus Datos

			.lq-steps-content
				.lq-form
					.lq-form__header
						h1.lq-form__title Hola Marjorie Romero,
						p.lq-form__p Faltan solo algunos datos para que tengas tu 
							strong.lq-cs-blue.lq-semibold Cuenta Simple 
							strong.lq-cs-green.lq-semibold Interbank.
					

					.lq-form__fields.lq-dinamic

						.lq-dinamic-scroll
							.lq-dinamic-scroll__ball
							//- .lq-dinamic-scroll__static-ball
							.lq-dinamic-scroll__animated-ball
							.lq-dinamic-scroll__bar


						form.lq-form-template.lq-validate-form.lq-dinamic__form(action="http://interbank.com.pe/guardar", data-form="validate", data-captcha="false")

							

							.lq-form-template__fields-group
								.lq-form-template__fields-group-title
									span Datos personales


								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="correo",id="correo", placeholder="Correo", data-error="correo", data-form="rule", data-alpha="email", maxlength="200", value="mariaelena@gmail.com")
									span.form_error_message(class="form_error_message_correo")

								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="correo_val",id="correo_val", placeholder="Confirma tu correo electrónico", data-error="correo_val", data-form="rule", data-alpha="email", maxlength="200")
									span.form_error_message(class="form_error_message_correo_val")

								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="direccion",id="direccion", placeholder="Dirección", data-error="direccion", data-form="rule", data-alpha="alphanumeric", maxlength="200")
									span.form_error_message(class="form_error_message_direccion")


								.lq-form-template__row.lq-dinamic__ref
									.lq-form-template__cols.lq-clearfix
										.lq-form-template__col.lq-form-template__col40
											span.lq-form-template__green-line
											select.lq-form-template__field(name="idDepartamento",id="idDepartamento", data-error="idDepartamento", data-form="rule")
												option(value="", disabled="", selected="") Departamento
												option(value="01") Lima
												option(value="02") Junin
											span.form_error_message(class="form_error_message_idDepartamento")

										.lq-form-template__col.lq-form-template__col30
											select.lq-form-template__field(name="idProvincia",id="idProvincia", data-error="idProvincia", data-form="rule")
												option(value="", disabled="", selected="") Provincia
												option(value="enero") Lima
												option(value="febreri") Arequipa
											span.form_error_message(class="form_error_message_idProvincia")

										.lq-form-template__col.lq-form-template__col30
											select.lq-form-template__field(name="idDistrito",id="idDistrito", data-error="idDistrito", data-form="rule")
												option(value="", disabled="", selected="") Distrito
												option(value="1980") Barranco
												option(value="1981") San Isidro
											span.form_error_message(class="form_error_message_idDistrito")
							

							.lq-form-template__fields-group

								.lq-form-template__row.lq-dinamic__ref
									label.lq-form-template__label Fecha de nacimiento
									.lq-form-template__cols.lq-clearfix
										.lq-form-template__col.lq-form-template__col30
											span.lq-form-template__green-line
											select.lq-form-template__field(name="day",id="day", data-error="day", data-form="rule")
												option(value="", disabled="", selected="") Día
												- for (var x = 1; x <= 9; x++)
													option(value="0#{x}") 0
														= x
												- for (var x = 10; x <= 31; x++)
													option(value="#{x}")= x
											span.form_error_message(class="form_error_message_day")

										.lq-form-template__col.lq-form-template__col40
											select.lq-form-template__field(name="month",id="month", data-error="month", data-form="rule")
												option(value="", disabled="", selected="") Mes
												option(value="01") Enero
												option(value="02") Febrero
												option(value="03") Marzo
												option(value="04") Abril
												option(value="05") Mayo
												option(value="06") Junio
												option(value="07") Julio
												option(value="08") Agosto
												option(value="09") Setiembre
												option(value="10") Octubre
												option(value="11") Noviembre
												option(value="12") Diciembre

											span.form_error_message(class="form_error_message_month")

										.lq-form-template__col.lq-form-template__col30
											select.lq-form-template__field(name="year",id="year", data-error="year", data-form="rule")
												option(value="", disabled="", selected="") Año
												- for (var x = 1980; x < 2000; x++)
													option(value="#{x}")= x
											span.form_error_message(class="form_error_message_year")
										
										.lq-hide-field
											input(type="text", name="fechaOculta",id="fechaOculta", data-error="fechaOculta", data-form="rule", value="0")
										span.form_error_message(class="form_error_message_fechaOculta")

								.lq-form-template__row.lq-dinamic__ref
									.lq-form-template__cols.lq-clearfix
										.lq-form-template__col.lq-form-template__col50
											span.lq-form-template__green-line
											select#sexo.lq-form-template__field(name='sexo', data-error='sexo', data-form='rule')
												option(value='', disabled='', selected='') Sexo
												option(value='Masculino') Masculino
												option(value='Femenino') Femenino
											span.form_error_message.form_error_message_sexo
										.lq-form-template__col.lq-form-template__col50
											input#descEstadoCivil(type='hidden', name='descEstadoCivil')
											select#estadocivil.lq-form-template__field(name='estadocivil', data-error='estadocivil', data-form='rule')
												option(value='', disabled='', selected='') Estado Civil
												option(value='1') Soltero
												option(value='2') Casado
												option(value='3') Divorciado
												option(value='4') Viudo
											span.form_error_message.form_error_message_estadocivil
								




							.lq-form-template__fields-group
								.lq-form-template__fields-group-title
									span Datos laborales
								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="ocupacion",id="ocupacion", placeholder="Ocupación", data-error="ocupacion", data-form="rule", data-alpha="text", maxlength="200")
									span.form_error_message(class="form_error_message_ocupacion")

									
								.lq-form-template__row.lq-dinamic__ref
									span.lq-form-template__green-line
									input.lq-form-template__field(type="text", name="empresa",id="empresa", placeholder="Empresa en la que trabajas", data-error="empresa", data-alpha="alphanumeric", maxlength="100")
									span.form_error_message(class="form_error_message_empresa")

							.lq-form-template__fields-group
								.lq-form-template__fields-group-title
									span Moneda
								.lq-form-template__row.lq-dinamic__ref
									label.lq-form-template__label ¿En qué moneda quieres aperturar tu cuenta?
									.lq-form-template__cols.lq-clearfix
										span.lq-form-template__green-line
										span.lq-form-template__select-arrow
										select.lq-form-template__field(name="moneda",id="moneda", data-error="moneda", data-form="rule")
											option(value="", disabled="", selected="") Selecciona la moneda
											option(value="soles") Soles
											option(value="dolares") Dólares
										span.form_error_message(class="form_error_message_moneda")


							.lq-form-template__row
								button.lq-button.lq-button--small.lq-send-form-02(type='button', data-form="submit")
									| Ver términos y condiciones
									i
								.loading-gif(data-form="loading")
									img(src="assets/images/loading.gif", alt="")


	.lq-content-contrac-wrapper
		main.lq-content.lq-content-contract
			.lq-content-steps
				.lq-steps-header
					.lq-steps-header__info-cont
						h1.lq-steps-header__title-one Revisa las condiciones
						p.lq-steps-header__p-one y crea tu cuenta
					.lq-steps-header__image-bar


				.lq-steps-position
					.lq-positions
						.lq-pos.lq-pos-1.lq-pos-success
							.lq-pos__indicator
								.lq-pos__num
									.lq-pos__num-img
										.lq-pos__num-digit 1
							.lq-pos__txt
								.lq-pos__line
								.lq-pos__txt-det Regístrate
						.lq-pos.lq-pos-2.lq-pos-success
							.lq-pos__indicator
								.lq-pos__num
									.lq-pos__num-img
										.lq-pos__num-digit 2
							.lq-pos__txt
								.lq-pos__line
								.lq-pos__txt-det Tómate una Foto
						.lq-pos.lq-pos-3.lq-pos-current
							.lq-pos__indicator
								.lq-pos__num
									.lq-pos__num-img
										.lq-pos__num-digit 3
							.lq-pos__txt.lq-pos__txt-alpha
								.lq-pos__txt-det Completa tus Datos
						

				.lq-steps-content.lq-steps-content-legal
				
					.lq-legal-title Por favor revisa los Términos y condiciones de tu 
						strong.s-a Cuenta Simple 
						strong.s-b Interbank.


					.lq-legal
						.lq-legal__scroll-container.scroll-pane
							.lq-legal__content
								article
									h2 Términos y condiciones Cuenta Simple

									p.
										1.- El Cliente podrá adquirir y/o contratar diferentes productos y servicios financieros a través de los canales que Interbank ponga a su disposición.<br>
										2.- El Cliente manifiesta su aceptación a través de un clic, la clave secreta, clave dinámica y/o cualquier otro medio de autenticación que complemente y/o reemplace dichas claves, así como de mecanismos que impliquen la manifestación de voluntad de aceptación del Cliente. <br>
										3.- El Cliente entiende que el proceso y/o los mecanismos de aceptación establecidos por Interbank en el presente canal virtual, han sido claros y le han permitido manifestar su aceptación voluntaria, libre y expresa, habiendo podido despejar las dudas que hubiera podido tener.<br>
										4.- El Cliente declara haber tomado conocimiento de las principales características comerciales del producto Cuenta Simple, así como del proceso de ofrecimiento del mismo, el cual ha sido presentado a través de los canales de Interbank; el cual implica además, el recojo físico de la Tarjeta de Débito Interbank en la red de tiendas Interbank a nivel nacional.<br>
										5.- El Cliente confirma su voluntad de recibir el Contrato de Depósitos para Persona Natural y la Cartilla de Información Cuenta Simple al correo electrónico registrado al momento de iniciar este proceso de compra digital.<br>
										6.- El Cliente conoce su obligación de mantener actualizados sus datos personales.<br>

									h2 Beneficios y condiciones
									ul
										li Por ventanilla: 2 depósitos y 1 retiro
										li Por cajeros Global Net: 2 retiros 
										li Por cajeros Plus Global Net: 2 retiros y depósitos ilimitados 
										li La Cuenta Simple está sujeta a una comisión interplaza del 0.50% por operación. La comisión interplaza se aplica cuando realizas transacciones fuera de la provincia donde abriste la cuenta.
										li Por operación adicional en ventanilla se cobrará S/.8 / $3 y por operación adicional en cajeros Global Net S/.2 / $0.70.
										li Por Interbank Agente depósitos y retiros ilimitados. 
										li No necesita monto mínimo de apertura. 
										li Además, no le cobra mantenimiento.

									h2 Beneficios y condiciones
									p 
										strong Soles: TEA 0.05%, 
										|monto de apertura de cuenta S/ 1,000.00, periodo de permanencia 12 meses, TREA 0.05%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiro). El saldo mínimo de equilibrio es de S/ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF. 

									p 
										strong Dólares: TEA 0.03%, 
										|monto de apertura de cuenta US$ 1,000.00, periodo de permanencia 12 meses, TREA 0.03%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiros). El saldo mínimo de equilibrio es de US$ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF.

									br
									br
									br
									br









					.lq-btn-group.lq-btn-group-b.lq-clearfix
						button.lq-button.lq-button--small.lq-bind-accept-legal.disabled.lq-send-form(type="button") Aceptar
							i
						a.lq-button.lq-button--small.lq-button--darker.lq_open_lightbox(href="#") No gracias
							i

					.lq-preloader
						.loading-gif(data-form="loading")
							img(src="assets/images/loading.gif", alt="")

					.lq-legal-message 
						p.lq-legal-message__p Al aceptar estas autorizando a Interbank a crear tu Cuenta Simple.
						p.lq-legal-message__p.lq-legal-message__p--small *Te enviaremos una copia del contrato y la cartilla de información al e-mail que haz ingresado.



	include ./components/_footer.jade
	include ./components/_lightbox.jade





	