extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Lo sentimos,
					p.lq-steps-header__p-one No podemos continuar
				.lq-steps-header__image-bar

			.lq-steps-content
				img.mac-img(src="/assets/images/mac-img.png")
				p.lq-txt-23453
					|Continua tu proceso<br>por nuestra 
					strong Banca por Internet.
				.lq-button-grp-045786
					a.lq-button.lq-button--small(href="") Ir a Banca por Internet
						i
				


	include ./components/_footer.jade