extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one ¡Felicitaciones!
					p.lq-steps-header__p-one Tus datos se ingresaron correctamente
				.lq-steps-header__image-bar

			.lq-steps-content
						
				.lq-messages.lq-messages--d
					article
						img.lq-messages__icon(src="assets/images/message-icon-b.png", alt="")
						h2.lq-messages__title
							strong ¡Estamos creando tu Cuenta!
						p.lq-messages__email
							|Te enviaremos un e-mail a<br>
							strong marjorie.romero@gmail.com
						p.lq-messages__p
							|con toda la información de tu Cuenta Simple de Interbank.
						.lq-line

						p.lq-messages__p
							strong Lo más importante que necesitas saber es:<br>
							|Podrás utilizar tu cuenta simple en 1 día útil desde ahora.  Desde ese momento, podrás recoger tu tarjeta de débito en cualquiera de nuestras tiendas.

						p.lq-messages__p--blue.p01 Si ya cuentas con una tarjeta de débito,
							la asociaremos automáticamente a tu cuenta.




	include ./components/_footer.jade