extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Tómate una Foto
					p.lq-steps-header__p-one &nbsp;
				.lq-steps-header__image-bar
			include ./components/_pasos.jade

			.lq-steps-content.lq-steps-content-a.html-02

				h1.step-title 
					span.step-title__re1 Tómate una foto <br>
					|para validar tu identidad con 
					span.step-title__re2 RENIEC


				p.step-sub-title.txt-897 ¿Autorizas a 
					strong Interbank 
					|el acceso a tu cámara?
				
				//- .lq-button-group.lq-btn-group-a
				//- 	//- a.lq-button.lq-button--small(href="") Sí
				//- 	//- 	i
				//- 	//- a.lq-button.lq-button--small.lq-button--darker(href="") No
				//- 	//- 	i
				.lq-btn-grp-2349837.lq-btns-align-left
					a.lq-btn.lq-btn--one(href="") Si
					a.lq-btn.lq-btn--two(href="") Si
				.lq-btn-grp-2349837.lq-btns-align-left
					input.lq-btn.lq-btn--one(type="button", value="Si")
					input.lq-btn.lq-btn--two(type="button", value="No")
				.lq-btn-grp-2349837.lq-btns-align-left
					button.lq-btn.lq-btn--one(type="button") Si
					button.lq-btn.lq-btn--two(type="button") No

				.lq-line-968796

				.lq-tips
					h1.lq-tips__title Tips para que tu foto salga bien:
					.lq-tips__cont.lq-clearfix
						.lq-tip
							img(src="assets/images/laptop.png", alt="")
							p Asegúrate que<br>aparezcas 
								strong centrado<br>en la pantalla
						.lq-tip
							img(src="assets/images/lentes.png", alt="")
							p Tómate la foto<br>
								strong Sin Lentes
						.lq-tip
							img(src="assets/images/dni.png", alt="")
							p Usa la misma<br>expresión que<br>en tu 
								strong DNI




	include ./components/_footer.jade