extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Tómate una Foto
					p.lq-steps-header__p-one &nbsp;
				.lq-steps-header__image-bar

			.lq-steps-content
				.html-14
					.tile-4353
						|Tienes aprobada una tarjeta<br>
						strong American Express® Gold

					img.html-14-tc(src="assets/images/tcamex.png")

					.lq-tc-beneficios
						.lq-tc-beneficios__items.clearfix
							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-01.png")
									p.lq-tc-beneficios__txt
										|¡Disfruta<br>con millas!

							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-02.png")
									p.lq-tc-beneficios__txt
										|Tus compras<br>estan aseguradas

							.lq-tc-beneficios__item

								.lq-tc-beneficios__detail
									img.lq-tc-beneficios__img(src="assets/images/tc-03.png")
									p.lq-tc-beneficios__txt
										|¡Viaja<br>seguro!


					.lq-line-0934854

					p.lq-txt-394857 ¿Quieres solicitar esta tarjeta?
					.lq-btns-group-9832.clearfix
						a.lq-button.lq-button--small(href="") Sí, quiero esta tarjeta
							i
						a.lq-button.lq-button--small.lq-button--darker(href="") No la quiero
							i





					









				


	include ./components/_footer.jade