extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Revisa las condiciones
					p.lq-steps-header__p-one y crea tu cuenta
				.lq-steps-header__image-bar



			.lq-steps-position
				.lq-positions
					.lq-pos.lq-pos-1.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 1
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Regístrate
					.lq-pos.lq-pos-2.lq-pos-success
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 2
						.lq-pos__txt
							.lq-pos__line
							.lq-pos__txt-det Tómate una Foto
					.lq-pos.lq-pos-3.lq-pos-current
						.lq-pos__indicator
							.lq-pos__num
								.lq-pos__num-img
									.lq-pos__num-digit 3
						.lq-pos__txt.lq-pos__txt-alpha
							.lq-pos__txt-det Completa tus Datos


			.lq-steps-content.lq-steps-content-legal
			
				.lq-legal-title Por favor revisa los Términos y condiciones de tu 
					strong.s-a Cuenta Simple 
					strong.s-b Interbank.


				.lq-legal
					.lq-legal__scroll-container.scroll-pane
						.lq-legal__content
							article
								h2 Términos y condiciones Cuenta Simple

								p.
									1.- El Cliente podrá adquirir y/o contratar diferentes productos y servicios financieros a través de los canales que Interbank ponga a su disposición.<br>
									2.- El Cliente manifiesta su aceptación a través de un clic, la clave secreta, clave dinámica y/o cualquier otro medio de autenticación que complemente y/o reemplace dichas claves, así como de mecanismos que impliquen la manifestación de voluntad de aceptación del Cliente. <br>
									3.- El Cliente entiende que el proceso y/o los mecanismos de aceptación establecidos por Interbank en el presente canal virtual, han sido claros y le han permitido manifestar su aceptación voluntaria, libre y expresa, habiendo podido despejar las dudas que hubiera podido tener.<br>
									4.- El Cliente declara haber tomado conocimiento de las principales características comerciales del producto Cuenta Simple, así como del proceso de ofrecimiento del mismo, el cual ha sido presentado a través de los canales de Interbank; el cual implica además, el recojo físico de la Tarjeta de Débito Interbank en la red de tiendas Interbank a nivel nacional.<br>
									5.- El Cliente confirma su voluntad de recibir el Contrato de Depósitos para Persona Natural y la Cartilla de Información Cuenta Simple al correo electrónico registrado al momento de iniciar este proceso de compra digital.<br>
									6.- El Cliente conoce su obligación de mantener actualizados sus datos personales.<br>

								h2 Beneficios y condiciones
								ul
									li Por ventanilla: 2 depósitos y 1 retiro
									li Por cajeros Global Net: 2 retiros 
									li Por cajeros Plus Global Net: 2 retiros y depósitos ilimitados 
									li La Cuenta Simple está sujeta a una comisión interplaza del 0.50% por operación. La comisión interplaza se aplica cuando realizas transacciones fuera de la provincia donde abriste la cuenta.
									li Por operación adicional en ventanilla se cobrará S/.8 / $3 y por operación adicional en cajeros Global Net S/.2 / $0.70.
									li Por Interbank Agente depósitos y retiros ilimitados. 
									li No necesita monto mínimo de apertura. 
									li Además, no le cobra mantenimiento.

								h2 Beneficios y condiciones
								p 
									strong Soles: TEA 0.05%, 
									|monto de apertura de cuenta S/ 1,000.00, periodo de permanencia 12 meses, TREA 0.05%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiro). El saldo mínimo de equilibrio es de S/ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF. 

								p 
									strong Dólares: TEA 0.03%, 
									|monto de apertura de cuenta US$ 1,000.00, periodo de permanencia 12 meses, TREA 0.03%, asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de cuenta (como retiros). El saldo mínimo de equilibrio es de US$ 0.00. Es decir, si mantienes un monto mayor, tu dinero crecerá. No incluye ITF.

								br
								br
								br
								br



				.lq-btn-group.lq-btn-group-b.lq-clearfix
					button.lq-button.lq-button--small.lq-bind-accept-legal.disabled.lq-send-form(type="button") Aceptar
						i
					a.lq-button.lq-button--small.lq-button--darker.lq_open_lightbox(href="#") No gracias
						i

				.lq-preloader
					.loading-gif(data-form="loading")
						img(src="assets/images/loading.gif", alt="")

				.lq-legal-message 
					p.lq-legal-message__p Al aceptar estas autorizando a Interbank a crear tu Cuenta Simple.
					p.lq-legal-message__p.lq-legal-message__p--small *Te enviaremos una copia del contrato y la cartilla de información al e-mail que haz ingresado.

	include ./components/_footer.jade
	include ./components/_lightbox.jade














