extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header.lq-steps-header-c2
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one Lo sentimos,
					p.lq-steps-header__p-one No podemos continuar
				.lq-steps-header__image-bar

			.lq-steps-content
				.lq-messages.lq-messages--b
					article
						img.lq-messages__icon(src="assets/images/message-icon-a.png", alt="")
						h2.lq-messages__title
							|Lo sentimos,
						p.lq-messages__p
							|en estos momentos<br>
							|no tenemos una oferta para ti.

						//- a.lq-button.i-left(href="")
							i
							|Regresar


	include ./components/_footer.jade