extends _layout.jade
block content
	include ./components/_header.jade
	main.lq-content
		.lq-content-steps
			.lq-steps-header
				.lq-steps-header__info-cont
					h1.lq-steps-header__title-one ¡Felicitaciones!
					p.lq-steps-header__p-one Puedes continuar tu proceso
				.lq-steps-header__image-bar

			.lq-steps-content
				.html-18
					img.html-18__img(src="assets/images/mac-img.png", alt="")

					p.html-18__txt Continua tu proceso<br>por nuestra 
						strong Banca por Internet.

					a.lq-btn.lq-btn--one(href="") Ir a Banca por Internet


				


	include ./components/_footer.jade