extends _layout.jade
block content
	main.lq-content

		h3 Flujo Exitoso – (Manual)

		ul
			li
				a(href="html-01.html", target="_blank") html 01
			li
				a(href="html-14.html", target="_blank") html 14
			li
				a(href="html-02.html", target="_blank") html 02
			li
				a(href="html-09.html", target="_blank") html 09
			li
				a(href="html-10.html", target="_blank") html 10
			li
				a(href="html-06.html", target="_blank") html 06
			li
				a(href="html-07.html", target="_blank") html 07
			li
				a(href="html-17.html", target="_blank") html 17

		
		h3 Flujo Exitoso – (Automático)
		ul
			li
				a(href="html-01.html", target="_blank") html 01
			li
				a(href="html-02.html", target="_blank") html 02
			li
				a(href="html-09.html", target="_blank") html 09
			li
				a(href="html-10.html", target="_blank") html 10
			li
				a(href="html-06.html", target="_blank") html 06
			li
				a(href="html-08.html", target="_blank") html 08

		h3 Flujo No Exitoso<br>
			small Rechazado por R1


		ul
			li
				a(href="html-04.html", target="_blank") html 04
			li
				a(href="html-15.html", target="_blank") html 15
		
		h3 Flujo No Exitoso<br>
			small No dio permisos para el acceso a la cámara

		ul
			li
				a(href="html-12.html", target="_blank") html 12

		h3 Flujo No Exitoso<br>
			small No se validó su imagen con RENIEC
		ul
			li
				a(href="html-11.html", target="_blank") html 11
			li
				a(href="html-05.html", target="_blank") html 05

		
		h3 Todas las vistas
		ul
			li
				a(href="html-01.html", target="_blank") html 01

			li
				a(href="html-02.html", target="_blank") html 02

			li
				a(href="html-03.html", target="_blank") html 03

			li
				a(href="html-04.html", target="_blank") html 04

			li
				a(href="html-05.html", target="_blank") html 05

			li
				a(href="html-06.html", target="_blank") html 06

			li
				a(href="html-07.html", target="_blank") html 07

			li
				a(href="html-08.html", target="_blank") html 08

			li
				a(href="html-09.html", target="_blank") html 09

			li
				a(href="html-10.html", target="_blank") html 10
				
			li
				a(href="html-11.html", target="_blank") html 11

			li
				a(href="html-12.html", target="_blank") html 12
			li
				a(href="html-13.html", target="_blank") html 13

		br
		br
		br
		br
	