.aui .lq-steps-content-a,
.lq-steps-content-a {
	padding-top: 28px;
	padding-bottom: 1px;

	.lq-button-group {
		margin-top: 0;
	}

	.lq-line {
		margin-top: 20px;
		margin-bottom: 14px;
		border:none;
		background-color: transparent;
	}

	.lq-tips {
		margin-bottom: 40px;
	}

	.lq-btn {
		width: 143px;
	}


}

.lq-btn-grp-2349837 {
	display: block;
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	.lq-btn {
		display: block;
		
	}
}

.aui p.txt-897,
.txt-897 {
	margin-bottom: 33px;
}
.lq-line-968796 {
	display: block;
	width: 190px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	margin-bottom: 36px;
}





/*.aui .lq-steps-content-a .step-title,
.lq-steps-content-a .step-title {
	margin-bottom: 2px;
}
.aui .step-title__re1, .step-title__re1 {
	margin-bottom: 5px;
	display: block;
}*/