.blocks.canales_atencion
	.mw
		.cont_canales_atencion.clearfix
			.detalle
				.cont_canales
					.canales_line
						article
							h1 Canales de Atención
							p En interbank estamos para servirte, comunícate<br>con nosotros por los siguiente canales de atención:

							.boots.lineas_de_atencion
								.brow
									.col.col5
										img(src="#{url}assets/images/telefono.png", alt="")
										p Central Teléfonica
										p.mumero 319-8616
											

									.col.col5
										img(src="#{url}assets/images/tienda.png", alt="")

										p Tiendas a Nivel Nacional<br>
											strong.light Ubíca tu tienda<br>
												|más cercana 
												a(href="/puntos-de-atencion") AQUÍ

			.cont_formulario
				.formulario
					h1
						strong Déjanos tus datos 
						| o<br>refiere a algún familiar
					//- iframe(name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){window.location='#{url}gracias.html';console.log('submited');}")
					
					iframe(name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){console.log('location');console.log('submited');}")
					
					form.hc_afp_form(action="https://docs.google.com/forms/d/10A4AUr2rp-C3Gd0uLKapqech4ZDH6LIfhme7h-AG26U/formResponse", method="POST", target="hidden_iframe", onsubmit="submitted=true;" )
						.item_form
							input(type="text", name="entry.74679326", id="dni", value="", tabindex="1", maxlength="100", autocomplete="off", placeholder="Ingresa tu nombre o DNI", data-error="dni")
							.form_error_message(class="form_error_message_dni")
						.item_form
							input(type="text", name="entry.1279763218", id="correo", value="", tabindex="2", maxlength="200", autocomplete="off", placeholder="Ingresa tu correo electrónico", data-error="correo")
							.form_error_message(class="form_error_message_correo")
						.item_form
							input(type="text", name="entry.1227575254", id="celular", value="", tabindex="3", maxlength="9", autocomplete="off", placeholder="Ingresa tu Nro. de celular", data-error="celular")
							.form_error_message(class="form_error_message_celular")
						.item_form.cbox
							label
								input.cbox_terms(type="checkbox", name="cbox_terms", value="He leído y acepto los Términos y condiciones y la ley de protección de datos",  tabindex="4", data-error="terms")
								|Acepto los 
								a.openmodal(href="") Términos y Condiciones
								.form_error_message.form_error_message_terms
								input.hidden_cbox_terms(type="hidden", name="entry.1877887459", value="Acepto términos y condiciones")
						.item_form.btnenviar
							a.lvermasinfo.btn_enviarform(href="") ENVIAR
						input(type="hidden", name="entry.2067637348", value="#{pagina}")

				.gracias_form
					img.imgcheck(src="#{url}assets/images/check.png", alt="")
					h1 ¡Listo!<br>
						|Un asesor se estará <br>
						| comunicando contigo.

		.linea