.blocks.block_legal
	article.mw
		p Depósito a Plazo: TREA en soles de 5% a 360 días (12 meses) por montos desde S/ 100,000. Interés acumulado: S/ 4,956.85. TREA en soles de 7% a 3600 días (120 meses) por montos desde S/ 100,000. Interés acumulado: S/ 67,849.74. Capitalización diaria y abono de intereses mensual. Cuenta Ágil: TREA referencial 0.050% en soles considerando TEA de 0.050% y un saldo promedio del mes mayor o igual a S/ 1,000 durante un plazo de 12 meses (360 días), asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de la cuenta, intereses de S/ 0.50. Saldo mínimo de equilibrio: no aplica para esta promoción.
		p Aplica a personas a partir de 50 años, montos desde S/100,000 y plazos de 1, 2, 5 y 10 años. Se debe tener una Cuenta Ágil activa en la que se abonarán los intereses mensuales máximo el 5to día útil de cada mes. (*) Plazos a 5 y 10 años permiten un (1) retiro de hasta 10% del capital inicial en cualquier momento pasados los primeros 12 meses, el cual se depositará en la Cuenta Ágil máximo a los dos (2) días útiles. Incluye Asistencia de Salud gratuito por un (1) año, servicio brindado por la empresa Red Salud, con cobertura de atención ambulatoria,  emergencia e indemnización por Sepelio. Edad máxima de permanencia es hasta los 69 años de edad. Para hacer uso del servicio comunicarse al 445-3019. Promoción, tasas y tarifas válidas hasta el 30/06/2016. FSD marzo - mayo 2016: S/ 96,571. ITF: 0.005%. El monto de cobertura FSD varía trimestralmente. Mayor información sobre el FSD actualizado, tasas de interés, comisiones, gastos y penalidades en el tarifario, en Tiendas Interbank o en <a href="http://www.interfondos.com.pe" target="_blank">www.interbank.com.pe</a>, conforme a la normativa de Transparencia.

		p Fondos Mutuos: Los Fondos Mutuos comercializados por Interbank son administrados por Interfondos SAF, empresa de Intercorp. el valor cuota del Fondo Mutuo es variable. La rentabilidad o ganancia obtenida en el pasado por el Fondo Mutuo, no garantiza que ella se repita en el futuro. Esta rentabilidad no incluye el efecto de las comisiones de suscripción, rescate ni el impuesto a la renta. El riesgo y rendimiento de los instrumentos que forman parte de la cartera de este fondo, así como su estructura de costos, no necesariamente son comparables con las mismas variables de otros fondos o alternativas de inversión. Infórmese de las características esenciales de la inversión en los Fondos Mutuos, las cuales se encuentran contenidas en el Prospecto Simplificado y Reglamento de Participación, disponibles en cualquier Tienda Interbank o en <a href="http://www.interfondos.com.pe" target="_blank">www.interfondos.com.pe.</a>La Supervisión de la SMV no implica que recomiende o garantice la inversión efectuada en un Fondo Mutuo.
