.bgmodal
.modal_beneficios_wrapper
	.modal_beneficios
		.closemodal x
		h2.title_02 Política de Seguridad y Privacidad.
		p “Se informa que los datos personales proporcionados a INTERBANK quedan incorporados al  banco de datos de clientes de INTERBANK. INTERBANK utilizará dicha información para efectos de la gestión de los productos y/o servicios solicitados y/o contratados (incluyendo evaluaciones financieras, procesamiento de datos, formalizaciones contractuales, cobro de deudas, gestión de operaciones financieras y remisión de correspondencia, entre otros), la misma que podrá ser realizada a través de terceros.  <br>
		p Asimismo, el titular de los datos personales autoriza a INTERBANK a utilizar sus datos personales, incluyendo datos sensibles, que hubieran sido proporcionados directamente a INTERBANK, aquellos que pudieran encontrarse en fuentes accesibles para el público o los que hayan sido obtenidos de terceros; para tratamientos que supongan desarrollo de acciones comerciales, incluyendo evaluaciones financieras, la remisión (vía medio físico, electrónico o telefónico) de publicidad, información u ofertas (personalizadas o generales)  de productos y/o servicios de INTERBANK y/o de otras empresas del Grupo Interbank, las mismas que se encuentran difundidas en el portal de la Superintendencia del Mercado de Valores (www.smv.gob.pe). Para tales efectos, el titular de los datos personales autoriza a INTERBANK la cesión o comunicación de sus datos personales, a dichas empresas.<br> <br>  
		p Se informa al titular de los datos personales, que puede revocar la autorización para el tratamiento de sus datos personales en cualquier momento, de conformidad con lo previsto en la Ley de Protección de Datos Personales (Ley No. 29733) y su Reglamento (Decreto Supremo No. 003-2013-JUS). Para ejercer este derecho, o cualquier otro previsto en dichas normas, el titular de datos personales podrá presentar su solicitud en cualquiera de las sucursales de INTERBANK.”