.lq-clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}

}

.aui body,
body {
	padding-left: 0;
	padding-right: 0;
	@include media(979px) {
		padding-left: 0;
		padding-right: 0;
	}
}

.aui h1, .aui h2, .aui h3 {
	line-height: 1;
}

.lq-main {
	width: 100%;
	max-width: 940px;
	margin: 0 auto 0 auto;
	font-family: 'Omnes-Regular';

	* {
		box-sizing: border-box;
	}
}
.lq-main .lq-header {
	padding-bottom: 0;
}
.lq-main .lq-preaprobado, .lq-main .lq-bpi {
	width: 100%;
	max-width: 902px;


}
.lq-main {
	width: 100%;
	max-width: 100%;

	.lq-content {
		display: block;
		width: 100%;
		max-width: 940px;
		margin-top: 30px;

		@include tablet(){
			margin-top: 10px;
		}
	}
}

.lq-main .lq-header {
	@include tablet(){
		padding-bottom: 10px;
	}
}



.lq-main .lq-item label {
	display: initial;
	line-height: 1;
}
.lq-productos-campania .lq-item, .lq-main .lq-item {
	width: 100%;
}


.lq-recaptcha-container {
	display: block;
	height: 80px;
}



.lq-main .lq-msgvalid {
	position: static;
	width: 100%;
}


.lq-main .lq-wrap {
	width: 100%;
	max-width: 940px;
	margin: auto;
	@include tablet(){
		padding-left: 15px;
		padding-right: 15px;
	}
}


.lq-main .lq-breadcrumb {
	@include tablet(){
		padding-left: 15px;
		padding-right: 15px;
	}
}



.lq-main .lq-input, .lq-main .lq-pull {
	height: 50px;
}



.lq-content-steps {
	width: 100%;
	max-width: 700px;
	margin: auto;
    background-color: #f4f2f2;

}

.components {
	display: block;
	width: 100%;
}



/*




*/

.lq-steps-content {
	background-color: #f4f2f2;
	padding-top: 1px;
	padding-bottom: 1px;
	min-height: 515px;
	padding-bottom: 20px;
	@include media(330px){
		padding-left: 5px;
	    padding-right: 5px;	
	}
    
}


.lq-steps-content-messages {

}

.lq-main .m-auto {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



.aui a:focus {
	outline: none;
}
.lq-cs-blue {
	color: #004c98;
}
.lq-cs-green {
	color: $green;
}
.lq-semibold {
	font-family: 'Omnes-Medium';
}





.lq-main {
	 .lq-content-contract {
		display: none;

	}
}











