
.lq-alpha-content {
	display: block;
	width: 100%;
	max-width: 700px;
	margin: auto;
	background-color: #f5f5f5;
	@include tablet(){
		max-width: 600px;

	}
}

.lq-bg-one {
	display: block;
	width: 100%;
	background-image: url(../images/bgmain.jpg);
	height: 784px;
	background-repeat: no-repeat;

	@include tablet(){
		height: 250px;
		background-image: url(../images/bgmain_mob.png);
		background-position: center top;
	}
	
}