.lq-steps-content-a {
	padding-top: 28px;
	padding-bottom: 1px;

	.lq-button-group {
		margin-top: 0;
	}

	.lq-line {
		margin-top: 20px;
		margin-bottom: 14px;
		border:none;
		background-color: transparent;
	}

	.lq-tips {
		margin-bottom: 40px;
	}

}
/*.aui .lq-steps-content-a .step-title,
.lq-steps-content-a .step-title {
	margin-bottom: 2px;
}
.aui .step-title__re1, .step-title__re1 {
	margin-bottom: 5px;
	display: block;
}*/