.lq-lightbox
	.lq-lightbox__layer
	.lq-lightbox__content
		.lq-cancel-terms-popup
			.lq-terms-popup__01 ¿Estás seguro que deseas salir del proceso?
			.lq-terms-popup__02 Al no aceptar los Términos y Condiciones estarás abandonando el proceso sin crear la cuenta
			.lq-terms-popup__buttons.lq-btn-group.lq-clearfix
				a.lq-button.lq-button--small.lq-button--i-left.lq-button-a.lq_close_lightbox(href="#")
					i
					|Regresar
				a.lq-button.lq-button--small.lq-button-b.lq-button--darker(href="#") Sí, estoy seguro
					i