.lq-steps-position
	.lq-positions
		.lq-pos.lq-pos-1.lq-pos-success
			.lq-pos__indicator
				.lq-pos__num
					.lq-pos__num-img
						.lq-pos__num-digit 1
			.lq-pos__txt
				.lq-pos__line
				.lq-pos__txt-det Regístrate
		.lq-pos.lq-pos-2.lq-pos-current
			.lq-pos__indicator
				.lq-pos__num
					.lq-pos__num-img
						.lq-pos__num-digit 2
			.lq-pos__txt
				.lq-pos__line
				.lq-pos__txt-det Tómate una Foto
		.lq-pos.lq-pos-3
			.lq-pos__indicator
				.lq-pos__num
					.lq-pos__num-img
						.lq-pos__num-digit 3
			.lq-pos__txt.lq-pos__txt-alpha
				.lq-pos__txt-det Completa tus Datos