- var env = "prod"

if env == "local"
	- var url = ""
else if env == "dev"
	- var url = "http://hc-afp.devinterbank.com/"
else if env == "prod"
	- var url = "http://hc-afp.apps-interbank.com/"


doctype html
html(lang="es",class="no-js")
	head
		title Interbank
		meta(charset="utf-8")
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
	body
		// AFP
	
		if env != "local"
			link(rel="stylesheet", href="#{url}assets/css/style.css?v=5")
		else
			link(rel="stylesheet", href="#{url}assets/css/libs.css?v=1")
			link(rel="stylesheet", href="#{url}assets/css/main.css?v=1")

		script.
			var submitted=false;


		.hc-afp
			.blocks.main_img
				.main_image.main_image_home

			.blocks.block_1
				article.mw
					.titles
						h1.titular
							strong En Interbank queremos que disfrutes sin pensar en nada más.<br>
							|Por eso, te ofrecemos flexibilidad y rentabilidad para tu fondo de inversión.
						.line
			.blocks.block_leyinfo
				article.mw
					.titles
						//- h1 Ahora tienes más opciones para administrar tu dinero

						

						h1 ¿Qué dice la nueva ley?
						p La modificación de la ley del Sistema Privado de Pensiones incluye los siguientes cambios:<br>
							
					.beneficios.clearfix
						.beneficio
							.info
								img(src="#{url}assets/images/dinero.png", alt="")
								p Permite el retiro hasta el 95.5% del fondo de los afiliados al cumplir 65 años o al retirarse por Régimen Especial de Jubilación Anticipada (REJA).
						.beneficio
							.info
								img(src="#{url}assets/images/porcentaje.png", alt="")
								p Permite el retiro de hasta 50% del fondo en caso de enfermedad terminal  o diagnóstico de cáncer.
						.beneficio
							.info
								img(src="#{url}assets/images/calendario.png", alt="")
								p Amplía hasta el 31/12/18 el Régimen Especial de Jubilación Anticipada.
						.beneficio
							.info
								img(src="#{url}assets/images/casa.png", alt="")
								p Se podrá utilizar el 25% del fondo acumulado como garantía para la cuota inicial de  un crédito hipotecario.

					//- .titles
						p 





			.blocks.block_beneficios
				.mw
					.titles
						article
							h1 ¿Por qué elegir Interbank?
							p En Interbank sabemos que tu tranquilidad es lo más importante para seguir disfrutando la vida.<br>
								strong.verde Por eso te damos las mejores opciones para tus fondos de jubilación.
								
					.productos.clearfix
						.producto.pverde
							article
								.caja_title
									img(src="#{url}assets/images/chancho.png", alt="")
									h2 DEPÓSITO A PLAZO
									p Tasas de hasta 7%
								.caja_info
									a.lvermasinfo(href="/jubilacion-deposito-plazo") VER MÁS

						.producto.pazul
							article
								.caja_title
									img(src="#{url}assets/images/billetes.png", alt="")
									h2 FONDOS MUTUOS
									p Tu dinero siempre disponible
								.caja_info
									a.lvermasinfo(href="/jubilacion-fondos-mutuos") VER MÁS

						.producto.pmorado
							article
								.caja_title
									img(src="#{url}assets/images/flechas.png", alt="")
									h2 OFERTA COMBINADA
									p Depósito a Plazo + Fondos Mutuos
								.caja_info
									a.lvermasinfo(href="/jubilacion-oferta-combinada") VER MÁS



			.blocks.mundo_beneficio
				.mw
					.cont_mundo_beneficio.clearfix
						.cajas
							article
								h1 Mundo de Beneficios

								p.mp 
									strong Disfruta de beneficios exclusivos <br>
									|pensados en tus necesidades 


								.contenedor_dscto.clearfix
									.dscto.dscto_1
										.porcentaje 30%
										p de descuento en platos<br>a la carta en
										p
											strong Waka Grill
									.dscto.dscto_2
										.porcentaje 20%
										p de descuento<br>en pasajes en
										p
											strong Peruvian Airlines
									.dscto.dscto_2
										.porcentaje 20%
										p de descuento en<br>el total de la cuenta
										p
											strong Gambino
									.dscto.dscto_3
										h2 Descubre más Beneficios
										a.lvermasinfo(href="http://www.interbank.com.pe/documents/10180/10494384/CUPONERA_PERMANENTE_01062016.PDF/b380c001-a907-456e-9d79-b38f31935258", target="_blank") VER MÁS

						.linea

							
			- var pagina = 'inicio'
			include ./partials/_canales.jade

			.blocks.block_legal
				article.mw

					p Depósito a Plazo Jubilación: TREA en soles de 5% a 360 días (12 meses) por montos desde S/ 50,000. Interés acumulado: S/ 2,444.47. TREA en soles de 7% a 3600 días (120 meses) por montos desde S/ 50,000. Interés acumulado: S/ 33,924.87. Capitalización diaria y abono de intereses mensual. Cuenta Ágil: TREA referencial 0.050% en soles considerando TEA de 0.050% y un saldo promedio del mes mayor o igual a S/ 1,000 durante un plazo de 12 meses (360 días), asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de la cuenta, intereses de S/ 0.50. Saldo mínimo de equilibrio: no aplica para esta promoción.
					p Aplica a personas a partir de 50 años, montos desde S/ 50,000 y plazos de 1, 2, 5 y 10 años. Se debe tener una Cuenta Ágil activa en la que se abonarán los intereses mensuales máximo el 5to día útil de cada mes. (*) Plazos a 5 y 10 años permiten un (1) retiro de hasta 10% del capital inicial en cualquier momento pasados los primeros 12 meses, el cual se depositará en la Cuenta Ágil máximo a los dos (2) días útiles. Incluye Asistencia de Salud gratuito por un (1) año, servicio brindado por la empresa Red Salud, con cobertura de atención ambulatoria, emergencia e indemnización por Sepelio. Edad máxima de permanencia es hasta los 69 años de edad. Para hacer uso del servicio comunicarse al 445-3019. Promoción, tasas y tarifas válidas hasta el 31/07/2016. FSD junio - agosto 2016: S/ 95,566. ITF: 0.005%. El monto de cobertura FSD varía trimestralmente. Mayor información sobre el FSD actualizado, tasas de interés, comisiones, gastos y penalidades en el tarifario, en Tiendas Interbank o en<a href="http://www.interbank.com.pe">www.interbank.com.pe</a> , conforme a la normativa de Transparencia.




			include ./partials/_modal.jade


		if local
			script(src="#{url}assets/js/libs.js?v=1")
			script(src="#{url}assets/js/main.js?v=1")
		else
			script(src="#{url}assets/js/init.js?v=4")

		// AFP


		