- var env = "local"

if env == "local"
	- var url = ""
else if env == "dev"
	- var url = "http://hc-afp.devinterbank.com/"
else if env == "prod"
	- var url = "http://hc-afp.apps-interbank.com/"


doctype html
html(lang="es",class="no-js")
	head
		title Interbank
		meta(charset="utf-8")
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
	body
		// AFP
	
		if env != "local"
			link(rel="stylesheet", href="#{url}assets/css/style.css?v=10")
		else
			link(rel="stylesheet", href="#{url}assets/css/libs.css")
			link(rel="stylesheet", href="#{url}assets/css/main.css")

		script.
			var submitted=false;

		.hc-afp.interna1
			.blocks.main_img
				.main_image.main_image_interna1

			.blocks.quemeofrece
				.mw
					article.clearfix
						.qmoblocks.b1
							h1.verde.title_tp01 DEPÓSITO<br>
								strong A PLAZO JUBILACIÓN
							p Atractivas tasas de interés para que tu dinero crezca durante un plazo determinado

						.qmoblocks.b2
							h2 ¿Qué me ofrece?
							p Te ofrecemos un Depósito a Plazo con beneficios exclusivos:

							ul
								li Tasas de hasta 7%.
								li Abono de intereses todos los meses
								li Retira hasta el 10% de tu fondo.
								li Asistencia de salud gratis por un año o Asistencia completa por todo el plazo.
								li Cancelación anticipada con tasas especiales.


			.blocks.block_np.condiciones.txtnormal.block_two_sides
				.block_fullwidth.clearfix
					.side_left
						.imagen.img_celular.img_celular_1

					.side_right
						.informacion
							article
								h1 Condiciones:
								//- h2 • Tasas 
									span.gris (vigencia hasta:31/07/2016)
								//- .cont_tabla
									.tabla.clearfix.tabla_1
										.row
											.cel.title
												|Plazo (en años)
											.cel.title
												|Tasa en S/
										.row
											.cel
												|1
											.cel
												|5%
										.row
											.cel
												|2
											.cel
												|6%
										.row
											.cel
												|5
											.cel
												|6.5%
										.row
											.cel
												|10
											.cel
												|7%



								h2 • Tasas 
									span.gris (vigencia hasta:30/09/2016)
								.cont_tabla
									.tabla.clearfix.tabla_5
										.row
											.cel.title
												|Plazo (en años)
											.cel.title
												|S/ 50,000 a más

										.row
											.cel
												|1
											.cel
												|5.0%

										.row
											.cel
												|2
											.cel
												|5.5%

										.row
											.cel
												|5
											.cel
												|6.0%

										.row
											.cel
												|10
											.cel
												|7.0%




								h2 • Monto mínimo de apertura:
								p S/ 50,000

								h2 • Nuevos beneficios:


								p
									strong Depósito mensual de intereses 
									|en Cuenta Ágil.<br>
									|Recibirás mensualmente una renta fija o garantizada para tus gastos del mes.

								p
									strong Opción de retirar hasta 10% del fondo 
									|para imprevistos.<br>
									|Después de haber cumplido el primer año del plazo, podrás realizar 1 solo retiro en cualquier momento sin penalidad,  sólo aplica para plazos a 5 y 10 años.

								p
									strong Cancelación anticipada con tasas especiales:<br>
									|En caso necesites romper tu contrato por motivos de causa mayor obtendrás tasas atractivas en la cancelación.

								.cont_tabla
									.tabla.clearfix.tabla_2
										.row
											.cel.title
												|Cancelación en años cumplidos
											.cel.title
												|Tasa en S/
										.row
											.cel
												|1-3
											.cel
												|1.5%
										.row
											.cel
												|3-5
											.cel
												|2%
										.row
											.cel
												|5-8
											.cel
												|2.5%
										.row
											.cel
												|8-10
											.cel
												|3%

								p 
									strong Descuentos en establecimientos<br>
									|Podrás usar el APP de Cuenta Sueldo para ver tus beneficios, descárgala desde el App Store o Google Play Store con el nombre de Cuenta Sueldo Interbank App .<br>
									a(href="http://www.interbank.com.pe/documents/10180/10494384/CUPONERA_PERMANENTE_01062016.PDF/b380c001-a907-456e-9d79-b38f31935258", target="_blank") Ver cuponera de descuentos >





			.blocks.txtnormal.asitencia
				.mw
					article
						.boots
							.brow
								h1 Asistencia
							.brow
								.col.col5
									p Puedes elegir entre una (01) asistencia de salud  o una (01) asistencia completa con las siguientes condiciones:

									p.wbullet 
										strong Asistencia de salud 
										|con cobertura gratuita por un año vigente desde que se firma el presente documento y sin renovación automática. Respaldado por la empresa Red Salud. 
									

								.col.col5
									p.wbullet
										strong Asistencia completa 
										|con cobertura gratuita por la duración del Depósito a Plazo desde que firma el presente documento. <br>
										|Se renovará anualmente bajo condiciones similares de cobertura con el proveedor que asigne Interbank, siempre que no se cancele el Depósito a plazo. Actualmente respaldado por la empresa American Assist.
							.brow
								.col.col5
									a.button_ibk_default(href="http://www.interbank.com.pe/documents/10180/10494384/Asistencia_de_Salud_01062016.pdf/5d12bd02-6fdf-4f78-85f8-d23bd39f8a93", target="_blank") VER DETALLE DE COBERTURA
								.col.col5

									a.button_ibk_default(href="http://www.interbank.com.pe/documents/10180/10494384/Asistencia_Completa_01062016.pdf/4e046ced-a617-4a4d-b1fd-c1f9b40838de", target="_blank") VER DETALLE DE COBERTURA



			.blocks.txtnormal.faq
				.mw
					.boots
						.brow
							h1 Preguntas Frecuentes
						.brow
							.col.col5
								.jfaq_1
									h2.faq_title ¿Qué es un Depósito a Plazo Jubilación?

										strong.status .
									.faq_questions
										p Es una cuenta con beneficios exclusivos pensados en las necesidades de nuestros clientes mayores de 50 años, y con la que obtienen una mejor rentabilidad para sus ahorros.
									//
									h2.faq_title ¿Cómo obtengo mayores intereses para mi dinero?
										strong.status .
									.faq_questions 
										p Tú decides, a mayor plazo, obtienes una mayor tasa de interés para tu dinero. Puedes escoger los plazos de 1, 2, 5 y 10 años.
									//
									h2.faq_title ¿Puedo retirar mis intereses antes del vencimiento del plazo?
										strong.status .
									.faq_questions 
										p Sí. Puedes retirar los intereses que diariamente se acumulan en tu cuenta. 
											strong El retiro mínimo es de S/ 30.
									//
									h2.faq_title ¿Puedo cancelar mi cuenta antes del vencimiento del plazo?
										strong.status .
									.faq_questions 
										p Sí. En caso de tener una emergencia, puedes retirar todo tu dinero antes de su vencimiento, y te devolvemos tu capital más intereses calculados con la menor tasa de interés según tarifario vigente entre las cuentas de ahorro de Interbank persona natural. Los intereses retirados hasta la fecha de cancelación serán descontados del capital en caso corresponda.
									//
									h2.faq_title ¿Puedo cancelar mi cuenta y obtener tasas especiales?
										strong.status .
									.faq_questions 
										p Puedes cancelar tu cuenta en cualquier momento. Sin embargo, para acceder al beneficio de cancelación anticipada con tasas especiales, la cuenta debe haber cumplido los trescientos sesenta y cinco (365) días, contados desde la fecha que se hace efectivo el depósito a plazo, bajo los términos del contrato entre el Cliente e Interbank.
												


							.col.col5
								.jfaq_2
									
									//
									h2.faq_title ¿Es obligatorio el abono de intereses mensuales en la cuenta Ágil?
										strong.status .
									.faq_questions 
										p Sí, es un beneficio no negociable del producto. El abono de intereses se hace de forma automática como máximo el quinto día útil de cada mes en la cuenta Ágil asociada. En caso necesites retirar algún interés antes de finalizar el mes, puedes acercarte a cualquiera de las Tiendas Interbank; el interés restante será depositado en tu cuenta Ágil el mes siguiente.
									//
									h2.faq_title ¿Qué es la TREA?
										strong.status .
									.faq_questions 
										p La TREA es la Tasa de Rendimiento Efectiva Anual y te permite saber cuánto ganarás efectivamente por el dinero que deposites al vencimiento del plazo, considerando todos los cargos por comisiones y gastos, bajo el supuesto de cumplimiento de todas las condiciones pactadas.		

									h2.faq_title ¿Este producto está cubierto por el Fondo de Seguro de Depósitos?
										strong.status .
									.faq_questions 
										p Sí, está cubierto por el Fondo de Seguro de Depósitos el cual varía trimestralmente. El monto de cobertura actual lo podemos visualizar en 
											a(href="http://www.sbs.gob.pe" target="_blank") www.fsd.org.pe
											|.

									h2.faq_title.twoline ¿Cuál es el procedimiento aplicable en el caso de fallecimiento del titular de la cuenta?
										strong.status .
									.faq_questions 
										p Las cancelaciones de cuentas de fallecidos en Lima serán atendidas por el Módulo de Poderes ubicado en la Torre y en provincias, por los asesores legales externos asignados. Los herederos deben traer la declaratoria de herederos emitida por el juez para que se haga la entrega del dinero.

										ul
											li Carta dirigida al Banco con firmas legalizadas de todos los herederos, solicitando expresamente: la cancelación de las cuentas del titular fallecido autorizando su distribución conforme al Código Civil y liberando de responsabilidad y renunciando a iniciar acciones administrativas, civiles y penales contra el Banco por esta repartición. Indicar el número de teléfono y/o dirección.

											li En el caso de que exista heredero menor de edad:<br>
												| Deberán presentar copia certificada emitida por el poder judicial de la resolución de división y partición y la resolución que la declare consentida.


											li Copia certificada emitida por el Poder Judicial de la resolución judicial que autoriza a disponer los fondos del menor, y de la resolución que la declare consentida, para los casos que se requiera disponer de los fondos que le corresponda al menor.

											li Original del Acta de defunción.
											li Fotocopia legalizada del acta de protocolización notarial de Declaratoria de Herederos si es Sucesión Intestada, o copia legalizada de la Escritura Pública si es testamento, o copia certificada de la sentencia y la resolución que la declara consentida si fuese en la vía judicial.

											li Copia Literal original completa de la partida registral de la declaratoria de herederos, con una antigüedad no mayor a 15 días de emitida por la SUNARP.

											li Copia certificada de la sentencia judicial o copia legalizada de la escritura pública de la División y Partición.

											li Copia Literal original de la separación de patrimonios con no más de 15 días de emitida por la SUNARP si la hubiese.

											li Fotocopia de los documentos de identidad (DNI o carnet de extranjería) de los solicitantes y en caso ser alguno menor de edad original de la partida de nacimiento o DNI si lo tuvieran.

											li En el caso que el heredero declarado también se encuentre fallecido y esté representado por una sucesión, deberá presentar la copia literal original de la sucesión intestada con una antigüedad no mayor de 15 días de emitido por SUNARP.

											li Si los solicitantes actúan mediante poder, deberán presentar Copia Literal original y completa de la partida registral con no más de 15 días de emitida por la SUNARP.

											li Recibo de pago por comisión de estudio de títulos para cancelar cuentas del cliente fallecido por S/ 40.




									h2.faq_title ¿A qué instancias puedo recurrir para presentar un reclamo?
										strong.status .
									.faq_questions 
										p Interbank ha implementado un Libro de Reclamaciones virtual que está a tu disposición en la Red de Tiendas Interbank a nivel nacional, Banca Telefónica 311-9000 en Lima y al 0801-00802 en Provincias o visitando nuestra página web. También tiene la opción de dirigirse a la Plataforma de Atención al Usuario de la SBS o al Indecopi (
											a(href="http://www.sbs.gob.pe" target="_blank") www.sbs.gob.pe
											| /
											a(href="http://www.indecopi.gob.pe" target="_blank") www.indecopi.gob.pe
											|).




			.blocks.txtnormal.informacion_adicional
				.mw
					article
						h1.titulo Información Adicional
						ul
							li La tasa de rendimiento efectivo anual (TREA) es igual a la tasa efectiva anual (TEA). Tasa a un año base de 360 días. Este producto es respaldado por el Fondo de Seguro de Depósitos.
							li Saldo mínimo de equilibrio es igual al monto mínimo de apertura de la cuenta. 
							li Depósitos con cheque: aplican intereses desde que se haga efectivo: i) cheque Interbank: un  (1) día útil y ii) cheque otro banco local, dos (2) días útiles contados a partir del siguiente día en que se realiza el depósito.
							li Capitalización y abono de intereses diario. El monto de intereses calculado aplicará siempre que no se realice retiros durante el plazo pactado, de lo contrario la suma de los intereses finales será menor a la indicada en la cartilla. Para cancelaciones antes de su vencimiento, los intereses retirados hasta la fecha de cancelación serán descontados del capital en caso corresponda.
							li Los intereses serán abonados como máximo el quinto  día útil de cada mes en la Cuenta Ágil asociada al presente depósito a plazo. En caso el cliente necesite retirar su interés antes de finalizar el mes, se deberá acercar a la red de Tienda por lo que  el interés restante será depositado en su cuenta ágil en dicho mes.
							li Los beneficios del depósito a plazo (retiro de intereses mensuales y retiro de capital) están sujetos a la vigencia de la cuenta ágil; en caso de cancelarla, estos beneficios se pierden.
							li Este depósito se renovará automáticamente a su vencimiento bajo la TREA en 0.1% para ambas monedas o bajo las condiciones promocionales en dicho momento para cada producto a plazo. Recomendamos contactarse a Interbank para conocer las tasas que tenemos en campaña.
							li Impuesto a las transacciones financieras (ITF): 0.005%. Según tarifario vigente.
							li Monto mínimo de apertura de cincuenta mil (50,000) soles. 
							li Los descuentos en establecimientos serán válidos hasta el 11 de octubre de 2016, luego serán renovados.

						p Para ver el Glosario de Términos haz clic 
							a(href="http://www.interbank.com.pe/documents/10180/27511/glosario_de_terminos_actual.pdf/20b0f6c0-b245-41d2-86f4-3468bcf11b0f" target="_blank") aquí




			- var pagina = 'deposito a plazos'
			include ./partials/_canales.jade
			

			.blocks.block_descargables
				.content
					img(src="#{url}assets/images/descarga.png", alt="")
					p DOCUMENTOS DESCARGABLES

					.descargables_links.clearfix
						a.mr1(href="/documents/10180/10494384/BIP+98520151117_VF_23112015_06072016.pdf/123000ed-d6fa-462a-b0c1-21f1aaf8c21f", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-Afp-contrato-de-depositos'])") Contrato de Depósitos
						a.mr1(href="/documents/10180/10494384/Cartilla_Informaci%C3%B3n_Dep%C3%B3sito_a_Plazo_Jubilaci%C3%B3n_02082016.pdf/4b7b58b4-071d-4d18-85ce-b8a1f6e30f95", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-Afp-cartilla-de-informacion'])") Cartilla de Información
						a(href="/documents/10180/10494384/Tarifario_-_Depo%3Fsito_a_plazo_Jubilacion_Version_06072016.pdf/6e15d3a8-d6ce-4f62-8451-7abaeb041714", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-afp-tarifario'])") Tarifario
						a.nmr(href="/documents/10180/10494384/F%C3%93RMULAS+Y+EJEMPLOS+DE+PLAZO+JUBILACION_Julio2016final.pdf/12cd249f-975e-44e2-9b4f-0dd7a6f5573b", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-afp-formulas-ejemplos'])") Fórmulas y Ejemplos
						a.mr2(href="/documents/10180/10494384/Beneficios-Riesgos-Condiciones_AFP_23052016.pdf/2960ff21-9798-4d2b-8ee1-e8164ee81ad5", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-afp-beneficios-riesgo-condicions'])") Beneficios, riesgos y condiciones



			.navcanales.dptoplazofijo
				include ./partials/_nav.jade

			.blocks.block_legal
				article.mw

					p Depósito a Plazo Jubilación: TREA en soles de 5% a 360 días (12 meses) por montos desde S/ 50,000. Interés acumulado: S/ 2,444.47. TREA en soles de 7% a 3600 días (120 meses) por montos desde S/ 50,000. Interés acumulado: S/ 33,924.87. Capitalización diaria y abono de intereses mensual. Cuenta Ágil: TREA referencial 0.050% en soles considerando TEA de 0.050% y un saldo promedio del mes mayor o igual a S/ 1,000 durante un plazo de 12 meses (360 días), asumiendo que en todo el periodo no existan transacciones adicionales a la apertura de la cuenta, intereses de S/ 0.50. Saldo mínimo de equilibrio: no aplica para esta promoción.
					p Aplica a personas a partir de 50 años, montos desde S/ 50,000 y plazos de 1, 2, 5 y 10 años. Se debe tener una Cuenta Ágil activa en la que se abonarán los intereses mensuales máximo el 5to día útil de cada mes. (*) Plazos a 5 y 10 años permiten un (1) retiro de hasta 10% del capital inicial en cualquier momento pasados los primeros 12 meses, el cual se depositará en la Cuenta Ágil máximo a los dos (2) días útiles. Incluye Asistencia de Salud gratuito por un (1) año, servicio brindado por la empresa Red Salud, con cobertura de atención ambulatoria, emergencia e indemnización por Sepelio. Edad máxima de permanencia es hasta los 69 años de edad. Para hacer uso del servicio comunicarse al 445-3019. Promoción, tasas y tarifas válidas hasta el 31/07/2016. FSD junio - agosto 2016: S/ 95,566. ITF: 0.005%. El monto de cobertura FSD varía trimestralmente. Mayor información sobre el FSD actualizado, tasas de interés, comisiones, gastos y penalidades en el tarifario, en Tiendas Interbank o en<a href="http://www.interbank.com.pe">www.interbank.com.pe</a> , conforme a la normativa de Transparencia.

			include ./partials/_modal.jade




		if local
			script(src="#{url}assets/js/libs.js")
			script(src="#{url}assets/js/main.js")
		else
			script(src="#{url}assets/js/init.js?v=4")

		// AFP








		