- var env = "prod"

if env == "local"
	- var url = ""
else if env == "dev"
	- var url = "http://hc-afp.devinterbank.com/"
else if env == "prod"
	- var url = "http://hc-afp.apps-interbank.com/"


doctype html
html(lang="es",class="no-js")
	head
		title Interbank
		meta(charset="utf-8")
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
	body
		// AFP
	
		if env != "local"
			link(rel="stylesheet", href="#{url}assets/css/style.css?v=10")
		else
			link(rel="stylesheet", href="#{url}assets/css/libs.css?v=4")
			link(rel="stylesheet", href="#{url}assets/css/main.css?v=4")

		script.
			var submitted=false;
		.hc-afp
			.interna3
				.blocks.main_img
					.main_image.main_image_interna3

				.blocks.quemeofrece
					.mw
						article.clearfix
							.qmoblocks.b1
								h1.morado OFERTA<br>
									strong COMBINADA
								p La combinación perfecta: seguridad <br>
									|y rentas mensuales superiores

							.qmoblocks.b2
								h2 ¿Qué me ofrece?

								ul
									li Obtén una renta mensual mayor: Recibe los intereses de tu Depósito a Plazo y tus rescates programados.
									li Los rescates programados incluyen rentabilidad y capital, elige cuanto quieres recibir al mes según tus necesidades.
									li Seguro de salud gratuito por un año, o seguro de Asistencia Completa gratis hasta el final del plazo.

									li Disfruta de beneficios y descuentos especiales en establecimientos afiliados.


				.blocks.block_np.condiciones.txtnormal.block_two_sides
					.block_fullwidth.clearfix
						.side_left
							.imagen.img_celular.img_celular_3

						.side_right
							
							.informacion.info_morada
								article
									h1 Diversifica con seguridad y obtén una mayor renta mensual
									p.g2 Simulación con un importe de S/ 250,000 con una distribución de capital del 50/50.

									h2 • Inversión combinada a 5 años

									.cont_tabla
										.tabla.clearfix.table_3.table_3_morada
											.row
												.cel
													|Dep. Plazo (6.5%)
												.cel
													|S/ 658.00
											.row
												.cel
													|FFMM* (3.5%)
												.cel
													|S/ 2,271.00
											.row.tabla_morado
												.cel
													|Renta Mensual
												.cel
													|S/ 2,929.00

									


									h2 • Inversión combinada a 10 años


									.cont_tabla
										.tabla.clearfix.table_3.table_3_morada
											.row
												.cel
													|Dep. Plazo (7%)
												.cel
													|S/ 707.00
											.row
												.cel
													| FFMM*   (3.5%)  
												.cel
													|S/ 1,233.00
													
											.row.tabla_morado
												.cel
													|Renta Mensual
												.cel
													|S/ 1,940.00

									p.g4 *Al finalizar el plazo elegido se mantiene el 50% del capital para reinvertirlo como tu quieras.<br>
										|**Con comparativo de AFP(Renta promedio S/ 1,133 para un fondo de S/ 250,000).

									p.g3 Contáctanos para poder hacerte una simulación que se adapte a tus necesidades.


				- var pagina = 'oferta combinada'
				include ./partials/_canales.jade
				
				.blocks.block_descargables
					.content
						img(src="#{url}assets/images/descarga.png", alt="")
						p DOCUMENTOS DESCARGABLES

						.descargables_links.clearfix
							a.mr1(href="####", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-Afp-contrato-de-depositos'])") Contrato de Depósitos
							a.mr1(href="####", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-Afp-cartilla-de-informacion'])") Cartilla de Información
							a(href="####", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-afp-tarifario'])") Tarifario
							a.nmr(href="####", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-afp-formulas-ejemplos'])") Fórmulas y Ejemplos
							a.mr2(href="####", target="_blank", onclick="_gaq.push(['_trackEvent', 'descargables', 'link-afp-beneficios-riesgo-condicions'])") Beneficios, riesgos y condiciones


				.navcanales.ofertacombinada
					include ./partials/_nav.jade
				
				include ./partials/_legal.jade

				include ./partials/_modal.jade



		if local
			script(src="#{url}assets/js/libs.js?v=4")
			script(src="#{url}assets/js/main.js?v=4")
		else
			script(src="#{url}assets/js/init.js?v=4")

		// AFP




		