- var env = "prod"

if env == "local"
	- var url = ""
else if env == "dev"
	- var url = "http://hc-afp.devinterbank.com/"
else if env == "prod"
	- var url = "http://hc-afp.apps-interbank.com/"

doctype html
html(lang="es",class="no-js")
	head
		title Interbank
		meta(charset="utf-8")
		meta(name="title", content="")
		meta(name="description", content="")
		meta(name="keywords", content="")
	body
		// AFP
	
		if env != "local"
			link(rel="stylesheet", href="#{url}assets/css/style.css?v=10")
		else
			link(rel="stylesheet", href="#{url}assets/css/libs.css")
			link(rel="stylesheet", href="#{url}assets/css/main.css")

		script.
			var submitted=false;
		.hc-afp.interna1
			.blocks.main_img
				.main_image.main_image_interna2

			.blocks.quemeofrece
				.mw
					article.clearfix
						.qmoblocks.b1
							h1.celeste FONDOS<br>
								strong MUTUOS
								p Dale a tu dinero la posibilidad de crecer<br>sin perder disponibilidad de tu capital

						.qmoblocks.b2
							h2 ¿Qué me ofrece?
							p Te ofrecemos 2 opciones de Fondos Mutuos con beneficios<br>exclusivos:
							ul
								li Tu dinero siempre disponible.
								li Rescates mensuales programados.
								li Accede a préstamos con tasas preferenciales.
								li Infórmate de nuestros Fondos Mutuos en <br>
									a(href="http://www.interfondos.com.pe", target="_blank")
										| www.interfondos.com.pe


			.blocks.block_np.condiciones.txtnormal.block_two_sides
				.block_fullwidth.clearfix
					.side_left
						.imagen.img_celular.img_celular_2

					.side_right
						.informacion
							article
								h1 IF Extra Conservador Soles FMIV:

								p Personas que buscan obtener una posible rentabilidad en soles, superior a las alternativas tradicionales de ahorro, en cuestión de meses y con total disponibilidad de su dinero.

								p Este fondo invertirá tu dinero en:

								p 100% en Instrumentos de Deuda tales como: depósitos a plazo, pagarés, certificados de depósito, papeles comerciales, etc. 
									strong NO invierte en acciones.

								.cont_tabla
									.tabla.clearfix.table_3
										.row
											.cel
												|Tipo de Fondo: 
											.cel
												|Sin acciones
										.row
											.cel
												|Riesgo: 
											.cel
												|Muy bajo
										.row.t2
											.cel
												|Puedes abrir este fondo desde:
											.cel
												|S/. 3000
										.row.t2
											.cel
												|Tiempo mínimo de permanencia:
											.cel
												|7 días calendario




										.row.t2
											.cel
												|Si retiras el dinero antes del mínimo de días se te cobrará*:
											.cel
												|1.00% + IGV del monto retirado
										.row.t2
											.cel
												|Puedes suscribir y retirar dinero sin costos, a partir de:
											.cel
												|S/. 100
										.row.t2
											.cel
												|Asignación del Valor cuota (VC) para suscripciones o retiros:
											.cel
												|Se asignará el VC del día de procesada la operación
										.row.t2
											.cel
												|Pago de retiros:
											.cel
												|Se realizarán al siguiente día útil de solicitarlos

								p *No se cobra comisión de retiro siempre y cuando no se incumpla el tiempo mínimo de permanencia en el fondo.



			.blocks.block_np.txtnormal.block_two_sides.if_cash_soles
				.block_fullwidth.clearfix
					.side_left
						.informacion
							article
								h1 IF Extra Conservador Soles FMIV:

								p Personas que busca obtener una posible rentabilidad en soles superior a las alternativas tradicionales de ahorro, en plazos menores a un año y con total disponibilidad de su dinero.

								p Este fondo invertirá tu dinero en:

								p 100% Instrumentos de Deuda tales como: bonos de empresas, depósitos a plazo, papeles comerciales, bonos del Estado peruano y certificados bancarios de las instituciones más sólidas y rentables del país. 
									strong NO invierte en acciones.



								.cont_tabla
									.tabla.clearfix.table_3.table_3_azul
										.row
											.cel
												|Tipo de Fondo: 
											.cel
												|Sin acciones
										.row
											.cel
												|Riesgo: 
											.cel
												|Muy bajo
										.row.t2
											.cel
												|Puedes abrir este fondo desde:
											.cel
												|S/. 3000
										.row.t2
											.cel
												|Tiempo mínimo de permanencia:
											.cel
												|7 días calendario




										.row.t2
											.cel
												|Si retiras el dinero antes del mínimo de días se te cobrará*:
											.cel
												|1.00% + IGV del monto retirado
										.row.t2
											.cel
												|Puedes suscribir y retirar dinero sin costos, a partir de:
											.cel
												|S/. 100
										.row.t2
											.cel
												|Asignación del Valor cuota (VC) para suscripciones o retiros:
											.cel
												|Se asignará el VC del día de procesada la operación
										.row.t2
											.cel
												|Pago de retiros:
											.cel
												|Se realizarán al siguiente día útil de solicitarlos

								p *No se cobra comisión de retiro siempre y cuando no se incumpla el tiempo mínimo de permanencia en el fondo.



					.side_right
						.abuelo
						



			.blocks.rendimiento
				.mw
					article
						h1.titulo Rendimiento
						.cont_tabla
							.tabla.tabla_4
								.row.titulo
									.cel Fondos Mutuos
									.cel A Abril 2016*
									.cel 2015
									.cel 2014
									.cel 2013
									.cel 2012
									.cel 2011
								.row.r2
									.cel IF Extra Conservador Soles FMIV
									.cel 1.34%
									.cel 3.66%
									.cel 3.51%
									.cel 2.82%
									.cel 3.17%
									.cel 3.29%
								.row.r3
									.cel IF Cash Soles FMIV
									.cel 1.53%
									.cel 3.66%
									.cel 3.78%
									.cel 1.95%
									.cel 4.49%
									.cel 3.56%

						p.astericos *Rendimiento nominal. Los rendimientos de años previos se muestran anualizados.

						a.button_ibk_default(href="") VER CUADRO




			.blocks.rescate_programado
				.mw
					article
						h1.titulo Rescates Programados
						p Podrás recibir mes a mes parte de tu capital más parte de tus intereses a la cuenta de ahorros (Ágil). Sólo basta con firmar la carta de rescate programado al abrir tu Fondo Mutuo.



			- var pagina = 'fondos mutuos'
			include ./partials/_canales.jade
			
			.navcanales.fondosmutuos
				include ./partials/_nav.jade

			include ./partials/_legal.jade

			include ./partials/_modal.jade



		if local
			script(src="#{url}assets/js/libs.js")
			script(src="#{url}assets/js/main.js")
		else
			script(src="#{url}assets/js/init.js?v=4")

		// AFP




		