footer.lq-footer
	.lq-foot
		.lq-foot-item.lq-foot1
			.lq-foot-info
				| Si tienes dudas o consultas, contacta con nuestra banca 
				br
				|                 telefónica, 
				strong disponible las 24hrs.
		.lq-foot-item.lq-foot2
			.lq-foot-info
				| Lima 
				strong 311 9000
		.lq-foot-item.lq-foot2
			.lq-foot-info
				| Provincias 
				strong 0 801 00802
	.lq-copy
		.lq-wrap
			| "La empresa tiene la obligación de difundir información de conformidad con la Ley N° 28587 y el 
			| Reglamento de Transparencia de Información y Disposiciones 
			br
			|                 Aplicables a la Contratación con Usuarios del Sistema Financiero, aprobado mediante Resolución SBS N° 8181-2012."
			br
			|                 © Copyright 2013 - Todos los derechos reservados
