
* {
	box-sizing: border-box;
}


img {
	display: block;
	
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;


}
p{
	margin-top: 0;
	line-height: 1.2;

}
p.asterisco {
	font-size: 13px;
}
ul {
	margin-top: 0;

}
li {
	list-style-type: disc;
}


.blocks {
	width: 100%;
	max-width: 1400px;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 30px;
	color: $gris;
	font-size: 16px;
	@include omnesregular();

	p {
		line-height: 1.2;
		margin-top: 0;
	}
	h1 {
		margin-top: 0;
	}
	h2 {
		margin-top: 0;
	}

}
.blocks {
	h1.titulo {
		@include omneslight();
		text-align: center;
		font-size: 26px;
		margin-bottom: 36px;
		
	}
}
.block_1 {
	padding-bottom: 10px;

}
.block_leyinfo {
	padding-top: 0;
}
.block_beneficios {
	background-color: #f7f7f7;
	padding-bottom: 50px;
	padding-top: 50px;
}





.main_img {
	padding: 0;
}

.mw {
	display: block;
	width: 100%;
	max-width: 940px;
	margin: auto;

}

.main_image {
	
}
.main_image_home {
	background-image: url(../images/main1.jpg?v=3);
	height: 436px;
	background-repeat: no-repeat;
	
}
.main_image_interna1 {
	background-image: url(../images/main2.jpg?v=3);
	height: 284px;
	background-repeat: no-repeat;

}
.main_image_interna2 {
	background-image: url(../images/main3.jpg?v=1);
	height: 284px;
	background-repeat: no-repeat;

}
.main_image_interna3 {
	background-image: url(../images/main4.jpg?v=2);
	height: 284px;
	background-repeat: no-repeat;

}



.titles {
	margin-bottom: 32px;

	h1 {
		@include omneslight();
		font-size: 26px;
		margin-top: 0;
		margin-bottom: 14px;
		text-align: center;
	}

	p {
		font-size: 14px;
		text-align: center;
		margin-top: 0;

	}
	h1.titular {
		color: $gris;
		margin-bottom: 40px;
		margin-top: 20px;
		strong {
			color: $verdeclaro;
			@include omnessemibold();
		}

	}


}

strong.verde {
	color: $verdeclaro;
}




.benenficios_txt {
	background-color: #f7f7f7;
	font-size: 14px;

	h1 {
		color: #7bac39;
		font-size: 26px;
		text-align: center;
		
	}

	ul {
		margin-top: 0;
	}


}



.line {
	display: block;
	margin: auto;
	height: 1px;
	width: 67px;
	background-color: #cdcdcf;
}

.block_np {
	padding: 0;
}

.block_fullwidth {
	display: block;
	width: 100%;
	background-color: #f7f7f7;


	.side_left {
		width: 50%;
		float: left;
		

	}
	.side_right {
		width: 50%;
		float: left;
	}

	.imagen {
		height: 677px;

	}

	.informacion {
		display: block;
		width: 450px;
		padding: 32px 25px 0 52px;
	}
	.info_morada {
		h1 {
			margin-top: 32px;
		}
		h2 {
			color: $moradoclaro;
			margin-bottom: 18px;
		}

		p.g2 {
			font-size: 18px;
			margin-bottom: 23px;
		}
		p.g3 {
			font-size: 15px;
			@include omnessemibold();
			padding-top: 20px;
			border-top:1px solid $moradoclaro;
		}
		p.g4 {
			margin-bottom: 33px;
		}
	}


}


.txtnormal {

	article {

	}
	h1 {
		font-size: 26px;
		margin-top: 0;
		margin-bottom: 16px;
	}
	h2 {
		font-size: 14px;
		color: $verdeclaro;
		margin-bottom: 6px;
		span.gris {
			color: #828288;

		}

	}
	p {
		font-size: 14px;
		margin-bottom: 14px;

		strong {
			color: #828288;
			@include omnessemibold();

		}
	}
	a {
		color: $celesteclaro;
	}
	ul {
		font-size: 13px;
		padding-left: 14px;
	}

}
.ullegal {
	margin-top: 40px;
	padding-top: 30px;
	border-top:1px solid $verdeclaro;
}

.cont_tabla {
	margin-bottom: 20px;
	.tabla  {
		padding: 8px;
		border:1px solid #bababa;
		background-color: #ffffff;
	}
	.row{
		@extend .clearfix;
		display: block;
	}
	.cel {
		display: table-cell;
		width: 49%;
		float: left;
		padding: 2px 0;
		text-align: center;
		color: #bababa;
		border:1px solid #bababa;
		margin-bottom: 1px;
		margin-right: 1%;
		color: #828288;
		font-size: 15px;
		vertical-align: middle;

	}
	.cel:last-child{
		margin-right: 0;
	}
	.cel.title {
		border: 0;
		color: $celesteclaro;
		font-size: 14px;
	}

	.tabla_1 {
		.cel {
			width: 49%;

		}
		.cel:last-child{
			width: 50%;
		}

	}
	.tabla_2 {
		.cel {
			width: 69%;

		}
		.cel:last-child{
			width: 30%;
		}

	}


	.table_3{
		background-color: transparent;
		border:none;
		padding: 0;

		.cel {
			background-color: #ffffff;
			text-align: left;
			padding: 5px 0 5px 8px;
			font-size: 13px;
			width: 52%;


		}
		.cel:first-child{
			color: $verdeclaro;
		}

		.cel:last-child{
			width: 47%;
		}

		.row.t2 {
			.cel{
				height: 40px;	
			}
			
		}
	

	}
	.table_3.table_3_morada {
		.row {
			.cel:first-child {
				color: $celesteclaro;
			}
		}
		.row.tabla_morado {
			.cel {
				background-color: $moradoclaro;
				color: #ffffff;	
			}
			
		}
		.cel {

			padding-top: 8px;
			padding-bottom: 5px;
			margin-bottom: 2px;
		}
	}

	.table_3_azul {

		.cel:first-child{
			color: $celesteclaro;
		}
	}

	.tabla_4 {
		padding: 0;
		border:none;
		font-size: 14px;
		margin-bottom: 38px;
		background-color: transparent;

		.cel:first-child {
			width: 210px;
			text-align: left;
		}
		.cel {
			width: 120px;
			margin-right: 1px;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 3px;
			padding-bottom: 3px;
			background-color: #ffffff;
		}
	
		.row.titulo {
			@include omnessemibold();
		}
		.row.r2 {
			.cel:first-child {
				color: $verdeclaro;	
				padding-top: 3px;
			}
			.cel {
				height: 40px;
				padding-top: 9px;
			}
		}
		.row.r3 {
			.cel:first-child {
				color: $celesteclaro;	
			}
		}
		.row {
			margin-bottom: 2px;
		}


	}


	.tabla_5 {
		.cel.title {
			font-size: 11px;
		}
		.cel {
			width: 32%;

		}
		.cel:last-child{
			width: 66%;
		}

	}

}

.boots {
	.brow {
		@extend .clearfix;

	}
	.col {
		display: block;
		float: left;
	}
	.col1 {
		width: 10%;
	}
	.col2 {
		width: 20%;
	}
	.col3 {
		width: 30%;
	}
	.col4 {
		width: 40%;
	}
	.col5 {
		width: 50%;
	}
	.col6 {
		width: 60%;
	}
	.col7 {
		width: 70%;
	}
	.col8 {
		width: 80%;
	}
	.col9 {
		width: 90%;
	}


}

p.wbullet {
	padding-left: 10px;
	position: relative;

	&:before {
		content:" ";
		display: block;
		position: absolute;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		top: 5px;
		left: 0px;
		background-color: $verdeclaro;
	}

}
.btnibk {
	display: block;
	
}














