.lq-button-group {
	@extend .lq-clearfix;
	display: block;
	margin: auto;

	.lq-button {
		margin-top: 0;
		+.lq-button {
			margin-left: 30px;
		}
	}

}
.lq-btn-group-a {

	display: block;
	max-width: 310px;
	@include media(400px) {
		max-width: 293px;
	}
	.lq-button {
		width: 130px;
	}

}

.lq-main  {

	.lq-button {
	    background: #d41653;
	    color: #fff;
	    height: 47px;
	    line-height: 45px;
	    padding-left: 36px;
	    padding-right: 30px;
	    cursor: pointer;
	    display: inline-block;
	    outline: none;
	    font-weight: normal;
	    text-align: center;
	    vertical-align: top;
	    font-family: "Omnes-Medium";
	    font-size: 20px;
	    margin-top: 15px;
	    text-decoration: none;
	    -webkit-border-top-left-radius: 8px;
	    -webkit-border-bottom-right-radius: 8px;
	    -moz-border-radius-topleft: 8px;
	    -moz-border-radius-bottomright: 8px;
	    border-top-left-radius: 8px;
	    border-bottom-right-radius: 8px;
		text-align: center;
		line-height: 1;
		border:none;
		box-shadow: none;
		text-shadow: none;

		&:hover {
			opacity:0.7;
			border:none;
			box-shadow: none;
			text-shadow: none;
		}
		&:focus,
		&:active,
		&:visited {
			color: #ffffff;
			border:none;
			box-shadow: none;
			text-shadow: none;
		}


		&--darker {
			background-color: #b5b5b5;
			border:none;
		}

	    &--small {
			height: 37px;
			font-size: 16px;
		}
		&--noarrow {
		    padding-left: 24px;
		    padding-right: 24px;
		}

		i {
		    display: inline-block;
		    *display: inline;
		    zoom: 1;
		    width: 10px;
		    height: 16px;
		    vertical-align: middle;
		    margin-left: 20px;
		    background: url(../img/arrow-btn.png) no-repeat 0 0;
		}
		&--i-left {
		    padding-right: 36px;
		    padding-left: 36px;
			i {
				margin-right: 16px;
				margin-left: 0;
				background-image: url(../images/arrow-btn-left.png);
			}
		}

	}
	
	a.lq-button {
		line-height: 2.2;
	}

	.lq-button:hover{
	    text-decoration: none;
	    color: #fff;
	}
	.lq-button:active {
	    text-decoration: none;
	    color: #fff;
	}
	&.lq-button-disabled {
	    border-color: #bfbfbf;
	    color: #bbbbbb;
	    background: transparent;
	}
	&.lq-button-white {
	    border-color: #bfbfbf;
	    color: #bbbbbb;
	    background: #ffffff;
	}

}
.lq-main .lq-button.lq-button-disabled i {
    background: url(../img/arrow-btn-grey.png);
}
.lq-main .lq-button.lq-button-white.lq-prev i {
    background: url(../img/arrow-btn-grey-prev.png);
    margin-left: 0;
    margin-right: 20px;
}


.lq-main .lq-button {
	


}

.lq-btn-group {
	.lq-button {
		display: block;
		float: left;
		@include mobile() {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}	
	.lq-button + .lq-button {
		margin-left: 30px;
		@include mobile() {
			margin-left: auto;
			margin-right: auto;
		}
	}
}


.lq-btn-group-b {
	display: block;
	margin: auto;
	max-width: 432px;
}



.aui .lq-btn-interbank,
.lq-btn-interbank {
	display: block;
	height: 48px;
	text-align: center;
	font-size: 18px;
	font-family: 'Omnes-Semibold';
	padding-left: 34px;
	padding-right: 34px;
	background-color: #fd9500;
    padding-top: 14px;
    color:#ffffff;
    border-radius: 4px;
    text-decoration: none;
    border:none;
    

    &:active,
    &:visited,
    &:focus {
    	color:#ffffff;
    	text-decoration: none;
		background-color: #fd9500;
    }
    &:hover {
    	color:#ffffff;
    	text-decoration: none;
    	background-color: #FB6900;
    	
    }

}
.aui .lq-btn-interbank--color-a,
.lq-btn-interbank--color-a {
		background-color:#d41653;

    &:active,
    &:visited,
    &:focus {
		background-color: #d41653;
    }
    &:hover {
    	background-color: #c0144b;
    	
    }		
}



.aui .lq-btn,
.lq-btn {

	display: block;
	height: 48px;
	text-align: center;
	font-size: 18px;
	font-family: 'Omnes-Regular';
	padding-left: 34px;
	padding-right: 34px;
	background-color: #fd9500;
	color:#ffffff;
    
    border-radius: 4px;
    text-decoration: none;
    border:none;
	cursor: pointer;
    

    &:active,
    &:visited,
    &:focus {
    	color:#ffffff;
    	text-decoration: none;
		background-color: #fd9500;
    }
    &:hover {
    	color:#ffffff;
    	text-decoration: none;
    	background-color: #FB6900;
    	
    }


	&--default {
		background-color: #fd9500;
	    
	    &:active,
	    &:visited,
	    &:focus {
	    	color:#ffffff;
	    	text-decoration: none;
			background-color: #fd9500;
	    }


		&:hover {
    		background-color: #FB6900;
		}
	}

	&--one {
		background-color: #d41653;

	    &:active,
	    &:visited,
	    &:focus {
	    	color:#ffffff;
	    	text-decoration: none;
			background-color: #d41653;
	    }

		&:hover {
			background-color: #c0144b;
		}
	}

	&--two {
		background-color: #b5b5b5;

	    &:active,
	    &:visited,
	    &:focus {
	    	color:#ffffff;
	    	text-decoration: none;
			background-color: #b5b5b5;
	    }

		&:hover {
			background-color: #7d7d7d;
		}
	}



}






.aui a.lq-btn,
a.lq-btn {
	line-height: 2.5;
}
.aui button.lq-btn,
button.lq-btn {
	line-height: 1.7;
}
.aui input.lq-btn,
input.lq-btn {
	line-height: 1.7;
}



.lq-btns-center {
	display: block;
	> .lq-btn {
		margin-left: auto;
		margin-right: auto;
	}
} 
.lq-btns-right {
	@extend .lq-clearfix;
	display: block;
	
	> .lq-btn {
		float: right;
	}
	
	
}

.lq-btns-align-left {
	@extend .lq-clearfix;
	display: block;
	.lq-btn,
	a.lq-btn {
		display: block;
		float: left;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
			@include tablet(){
				margin-left: auto;
				margin-right: auto;
			}
		}
		@include tablet(){
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
		}
	}
}


.lq-btns-align-right {
	@extend .lq-clearfix;
	display: block;
	.lq-btn,
	a.lq-btn {
		display: block;
		float: right;
		margin-left: 20px;
		&:last-child {
			margin-left: 0;
			@include tablet(){
				margin-left: auto;
				margin-right: auto;
			}
		}
		@include tablet(){
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
		}
	}
}





