.lq-steps-content-camera {

	padding-bottom: 20px;

	p.p03 {
		text-align: center;
		font-size: 12px;
		color: $basictext;

	}


}



.lq-camera {
	display: block;
	width: 100%;
	max-width: 600px;
	background-color: #eff1ef;
	border:1px solid #d9d9d9;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 36px auto 20px auto;
	overflow: hidden;
	
	.lq-camera-image {
		background-color: #ffffff;
		margin-bottom: 20px;
		position: relative;
		height: 449px;
		.lq-face-guide-layer {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../images/rostro-guia.png);
			/* Modificar aqui el valor de 50*/
			background-position: center 50px;
			background-repeat: no-repeat;
			z-index: 100;

			@include tablet(){
				display: none;
				
			}
			
			
		}
		img {
			display: block;
			margin: auto;
			width: 100%;
		}

	}

	.lq-btn {
		width: 163px;
		display: block;
		margin: 0 auto 10px auto;


	}
	#lq-file-upload {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.lq-button--file {
		display: block;
		width: 230px;
		cursor: pointer;
		

	}
	.lq-file-upload--message {
		text-align: center;
		font-size: 14px;
		display: block;
		width: 100%;
	}

	.lq-cargar-foto-group {
		.lq-button--enviar-foto {
			/*display: none;*/
			display: block;
			
			margin-bottom: 3px;
			margin-left: auto;
			margin-right: auto;
			width: 160px;
		}
	}
	.lq-cargar-foto-group__enviar {
		display: none;
		
		width: 180px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	.lq-button--enviar--cancelar {
		display: block;
		width: 100%;
		text-align: center;
		
	}
	.lq-enviar-foto,
	.lq-enviar-foto[type="submit"] {
		width: 140px;
		margin-bottom: 0;
	}
	.lq-volver-tomar-foto {
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 16px;
		margin-bottom: 20px;
		
	}

}
.lq-camera-error {
	text-align: center;
	color: #d60a0a;
	display: block;
	margin-bottom: 10px;
}



.lq-camera_doc-info {
	text-align: center;
	font-family:'Omnes-Semibold';
	color:#585858;
	margin-bottom: 20px;
	margin-top: 50px;
	font-size: 16px;
	@include tablet(){
		display: none;
		
	}
}
.lq-camera_doc-info2 {
	text-align: center;
	font-family:'Omnes-Semibold';
	color:#585858;
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 16px;
	display: none;
	
	@include tablet(){
		display: block;
	}
}








