.lq-question-item {
	display: block;
	&__question {
		display: block;
						
	}
	&__question-txt {
		font-family: 'Omnes-Regular';
		font-size: 16px;
		color:#5d5d5d;
		margin-bottom: 10px;
		line-height: 1.3;
	}
	&__question-txt-num {
		color:$green;
		font-family: 'Omnes-Semibold';
	}
	&__options {
		display: block;
		margin-bottom: 32px;
		padding-left: 15px;
	}
	&__answer {
		font-family: 'Omnes-Regular';
		font-size: 14px;
		color:#5d5d5d;
		margin-bottom: 2px;
	}

	&__answer-wrap {
		
	}
	
}

.aui .lq-question-item__answer-lbl,
.lq-question-item__answer-lbl {
	position: relative;
	padding-left: 17px;
	margin-bottom: 11px;
	line-height: 1.1;
}

.aui .lq-question-item__answer-input[type="radio"],
.aui .lq-question-item__answer-input[type="checkbox"],
.aui .lq-question-item__answer-input , 
.lq-question-item__answer-input {
		position: absolute;
		top: 2px;
		left: 0;
		margin: 0;
		padding: 0;
		display: block;
}

















