@font-face {
    font-family: 'Omnes-Light';
    src: url('../fonts/omnes-light.eot');
    src: url('../fonts/omnes-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-light.woff2') format('woff2'),
         url('../fonts/omnes-light.woff') format('woff'),
         url('../fonts/omnes-light.ttf') format('truetype'),
         url('../fonts/omnes-light.svg#omneslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin omneslight(){
    font-family: 'Omnes-Light';
}
@font-face {
  font-family: 'Omnes-Regular';
  src: url("../fonts/omnes-regular.eot");
  src: url("../fonts/omnes-regular.eot?#iefix") format('embedded-opentype'), 
  	   url("../fonts/omnes-regular.woff2") format('woff2'), 
	   url("../fonts/omnes-regular.woff") format('woff'), 
	   url("../fonts/omnes-regular.ttf") format('truetype'), 
	   url("../fonts/omnes-regular.svg#Omnes-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@mixin omnesregular(){
    font-family: 'Omnes-Regular';
}
@font-face {
  font-family: 'Omnes-Medium';
  src: url("../fonts/omnes-medium.eot");
  src: url("../fonts/omnes-medium.eot?#iefix") format('embedded-opentype'), 
  	   url("../fonts/omnes-medium.woff2") format('woff2'), 
	   url("../fonts/omnes-medium.woff") format('woff'), 
	   url("../fonts/omnes-medium.ttf") format('truetype'), 
	   url("../fonts/omnes-medium.svg#Omnes-Medium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@mixin omnesmedium(){
    font-family: 'Omnes-Medium';
}

@font-face {
    font-family: 'Omnes-Semibold';
    src: url('../fonts/omnes-semibold.eot');
    src: url('../fonts/omnes-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-semibold.woff2') format('woff2'),
         url('../fonts/omnes-semibold.woff') format('woff'),
         url('../fonts/omnes-semibold.ttf') format('truetype'),
         url('../fonts/omnes-semibold.svg#Omnes-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@mixin omnesbold(){
    font-family: 'Omnes-Semibold';
}
@mixin omnessemibold(){
    font-family: 'Omnes-Semibold';
}