
.lq-form {
	position: relative;
	
}

.aui .lq-form-template,
.lq-form-template {
	display: block;
	margin: 0;
	

	&__row{
		display: block;
		position: relative;
		margin-bottom: 15px;
		
		
	}
	
	&__label {
		color: #aeaeae;
	}

	&__cols {
		position: relative;
		
	}

	&__col {
		display: block;
		float: left;
		position: relative;

		@include tablet(){
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}
	}

	&__col {

		&__field[type="text"],
		&__field[type="number"],
		&__field[type="tel"],
		select,
		&__field {
			@include tablet(){
				margin-bottom: 0;
				float: none;
				width: 100%;
			}
		}
	}

	&__col + &__col {

		@include tablet(){
			margin-left: 0;
		}

		&__field[type="text"],
		&__field[type="number"],
		&__field[type="tel"],
		select,
		&__field {
			border-left: none;
			@include tablet(){
				border:solid 1px #d2d2d2;
			}
		}
	}
	

	&__col:last-child {
		margin-bottom: 0;
	}

	&__col50 {
		width: 50%;
		@include tablet(){
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}
	}

	&__col33 {
		width: 33.3333%;
		@include tablet(){
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}
	}
	&__col30 {
		width: 30%;
		@include tablet(){
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}
	}

	&__col40{
		width: 40%;
		@include tablet(){
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}
	}
	&__col20 {
		width: 20%;
		@include tablet(){
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}
	}

	&__fields-group {
		margin-bottom: 30px;
		/*position: relative;*/
		@include tablet(){
			margin-bottom: 0;
		}

	}
	&__fields-group-title {
		display: block;
		width: 145px;
		height: 0.1px;
		font-size: 16px;
		font-family: 'Omnes-Semibold';
		color: #009b3a;
		line-height: 120%;
		/*position: absolute;*/
		/*left: -210px;*/
    	width: 140px;
    	margin-left: -200px;
    	margin-bottom: 0;

    	@include tablet(){
    		margin-left: 0;
    		height: auto;
    		padding-top: 0;
    		margin-bottom: 5px;
    	}

		span {
			display: block;
	    	padding-top: 10px;
			
		}
	}



	&__field[type="text"],
	&__field[type="number"],
	&__field[type="tel"],
	&__field {
		width: 100%;
		padding: 0 17px;
		background-color: #fff;
		height: 48px;
		border: solid 1px #d2d2d2;
		position: relative;
		line-height: 1;
		margin: 0;
		box-shadow: none;

	}


	select {
		appearance: none;
    	-moz-appearance: none;
    	-webkit-appearance: none;
		text-indent: 0.01px;
		text-overflow: "";
    	
    	appearance: none;
    	border-radius: 0;
    	background-image: url(../images/select-arrow.png);
    	background-repeat: no-repeat;
    	background-position: center right;
		box-shadow: none;
		color: #999898;
		padding-right: 35px;

		&.lq-select-changed {
			color: #555555;
		}
	}
	select::-ms-expand{
    	display: none;
	}


	&__field.error + .lq-form-template__green-line {
		background-color: #c3c3c3;
	}

	&__green-line {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 48px;
		background-color: $green;
		width: 5px;
		z-index: 10;
		@include tablet(){
			display: none;
			
		}

	}


	&__label-for-checkbox {
		position: relative;
		padding-left: 25px;
		margin: 0;
		font-size: 13px;
		line-height: 1.2;
		input[type="checkbox"] {
			position: absolute;
			top: 2px;
			left: 0;
			margin: 0;
		}
	}
	
	.loading-gif {
		display: none;
		img {
			display: block;
			margin: auto;
		}
		
	}

	.form_error_message {
		position: absolute;
		bottom: -12px;
		left: 0;
		span {
			display: block;
			font-size: 12px;
			line-height: 1;
			color: #ef7200;
		}
	}
	.form_error_message_provincia,
	.form_error_message_idProvincia {
		bottom: -24px;
		@include tablet(){
			bottom: -15px;
		}
	}
	.form_error_message_fechaOculta {
		display: none;
		
	}
	.lq-form-mos-space {
		@include tablet(){
			display: block;
			height: 20px;
		}
	}

	.lq-hide-field {
		overflow: hidden;
		width: 0.1px;
		height: 0.1px;
		padding-left: 200px;
	}

}







.lq-form {
	width: 95%;
	margin: auto;
	@include media(400px){
		width: 100%;
	}
}
.lq-form-info {
	padding-left: 13px;
	padding-top: 87px;
	padding-right: 35px;


	@include tablet(){
		padding: 44px 0 0 0;
		width: 90%;
		max-width: 380px;
		margin: auto;

	}


}
.aui .lq-form,
.lq-form {
	padding-top: 20px;

	&__title {
		font-size: 26px;
		color: $green;
		text-align: center;
		margin-top: 0;
		margin-bottom: 15px;
		
	}

	&__p {
		color: #5d5d5d;
		text-align: center;
		margin-top: 0;
		margin-bottom: 15px;
		font-size: 16px;
		
	}

	&__fields {
		width: 100%;
		max-width: 420px;
		padding-bottom: 80px;
    	margin-left: 0;
    	margin-top: 40px;
    	position: relative;
    	
	}
}
.lq-recaptcha-container {
	@include media(340px){
		margin-left: -8px;	
	}
	

}

.aui .lq-dinamic,
.lq-dinamic {
	position: relative;
	max-width: 100%;
	
	&__form {
    	margin-left: 230px;
    	max-width: 380px;

    	@include tablet(){
    		width: 95%;
    		max-width: 530px;
    		margin-left: auto;
    		margin-right: auto;
    	}
	}

}

.lq-dinamic-scroll {
	width: 190px;
	height: 100px;
    top: 14px;
	position: absolute;
	left: 0;

	@include tablet(){
		display: none;
		
	}
	&__ball {
		width: 13px;
		height: 13px;
		position: absolute;
		background-color: $green;
		border-radius: 50%;
		
		top: 3px;
		right: -5px;
		z-index: 10;

	}	

	&__animated-ball {
		width: 13px;
		height: 13px;
		position: absolute;
		border-radius: 50%;
		border: 3px solid $green;
		background-color: #f4f2f2;
		top: 3px;
		right: -5px;
		z-index: 9;
		@include transition(top .7s);
	}
	&__static-ball {
		width: 13px;
		height: 13px;
		position: absolute;
		border-radius: 50%;
		border: 3px solid #dadada;
		background-color: #f4f2f2;
		top: 200px;
		right: -5px;
		z-index: 8;
	}

	&__bar {
		position: absolute;
		background-color: #dadada;
		width: 3px;
		top: 4px;
		right: 0;
		height: 500px;
	}

}
					



.lq-preloader {
	margin-bottom: 20px;
	margin-top: 10px;
	display: none;
	&.lq-show {
		display: block;
		
	}
	img {
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
}


.lq-form-template-col-phone {
	display: block;
	height: 48px;
	&__a {
		display: block;
		float: left;
		width: 125px;
		position: relative;
		@include tablet(){
			width: 50%;

		}

	}

	&__b {
		width: 175px;
		display: block;
		float: left;
		position: relative;
		@include tablet(){
			width: 50%;
		}
				
	}
	#operador {
		border-right: none;
		
	}
}


































