.title-59679 {
	font-size: 26px;
	font-family: 'Omnes-Semibold';
	color:$green;
	text-align: center;
	margin-bottom: 0;
	margin-top: 44px;
	margin-bottom: 9px;

}
.title-86767 {
	font-size: 18px;
	color:$gris01;
	text-align: center;
	font-family: 'Omnes-Light';
	margin-bottom: 22px;
	

}	

.lq-faq-container {
	border:1px solid #d9d9d9;
	background-color: #ffffff;
	width: 84%;
	max-width: 615px;
	margin-left: auto;
	margin-right: auto;
	min-height: 500px;
	border-radius: 10px;
	&__content {
		width: 90%;
		padding-top: 47px;
		padding-bottom: 20px;
		margin-left: auto;
		margin-right: auto;


	}
}
.lq-btn-grp-394867349 {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	.lq-btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 163px;

	}
}