
.aui .mac-img,
.mac-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 258px;
	margin-bottom: 20px;
	margin-top: 109px;
}

.aui p.lq-txt-23453,
.lq-txt-23453 {
	display: block;
	text-align: center;
	font-size: 23px;
	font-family: 'Omnes-Light';
	color: $gris01;
	line-height: 1;
	margin-bottom: 50px;

	strong {
		font-family: 'Omnes-Semibold';
		color:$green;
	}
	
}
.lq-button-grp-045786 {

	.lq-button {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 260px;
	}

}