.tile-4353 {
	text-align: center;
	font-size: 26px;
	font-family: 'Omnes-Light';
	color:#5d5d5d;
	line-height: 1;
	margin-bottom: 35px;
	margin-top: 84px;
	strong {
		color:$green;
	}

	@include tablet(){
	    margin-top: 20px;
	}

}
.aui .html-14-tc,
.html-14-tc {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 422px;
	margin-bottom: 40px;
}
.html-14 {
	padding-top: 1px;
}

.lq-line-0934854 {
	display: block;
	
	width: 100%;
	max-width: 116px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 46px;
	background-color:#bbbbbb;
	
}
.lq-txt-394857 {
	text-align: center;
	font-size: 18px;
	color: $basictext;
	margin-bottom: 42px;

}



.lq-btns-group-9832 {
	display: block;
	width: 100%;
	max-width: 530px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 87px;

	@include tablet(){
	    margin-bottom: 10px;
	}

	.lq-button {
		display: block;
		float: left;
		margin-right: 40px;
		width: 244px;
		&:last-child {
			margin-right: 0;
		}
		
		@include tablet(){
			float: none;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 10px;
			&:last-child {
				margin-right: auto;
			}	
		}


	}
}










































