.tile-987 {
	text-align: center;
	font-size: 26px;
	font-family: 'Omnes-Light';
	color:#5d5d5d;
	line-height: 1;
	margin-bottom: 48px;
	margin-top: 70px;
	strong {
		color:$green;
	font-family: 'Omnes-Regular';
	}

	@include tablet(){
	    margin-top: 20px;
	}
	@include mobile(){
		font-size: 20px;
	}

}
.aui .html-products-tc,
.html-products-tc {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	max-width: 422px;
	margin-bottom: 40px;
}
.html-products {
	padding-top: 1px;
}

.lq-line-898 {
	display: block;
	
	width: 100%;
	max-width: 116px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 46px;
	background-color:#bbbbbb;
	
}
.lq-line-776 {
	display: block;
	width: 100%;
	max-width: 116px;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 52px;
	background-color:#bbbbbb;	
	@include mobile(){
		display: none;
		
	}
}


.aui p.lq-txt-8987,
.lq-txt-8987 {
	text-align: center;
	font-size: 18px;
	color: $basictext;
	margin-bottom: 28px;

}

.aui img.lq-html-products-img,
.lq-html-products-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 76px;
	width: 90%;
	max-width: 468px;
	@include mobile(){
		margin-bottom: 20px;
	}
	&--58867 {
		max-width: 508px;
	}
}

.lq-btns-35687 {
	margin-left: auto;
	margin-right: auto;
	max-width: 520px;
	margin-bottom: 43px;
	@include mobile(){
		margin-bottom: 20px;
	}
	
	.lq-btns-align-left .lq-btn {
		display: block;
		width: 234px;
		margin-right: 40px;
		@include tablet(){
			margin-right: auto;
		}
	}

}














