.html-18 {
	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 112px;
	}

	.lq-btn {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 270px;
	}

}
.aui p.html-18__txt,
.html-18__txt {
	text-align: center;
	font-size: 23px;
	font-family: 'Omnes-Regular';
    line-height: 1.1;
    margin-bottom: 43px;
	strong {
		font-family: 'Omnes-Semibold';
		color:$green;
	}

}
