.lq-steps-content-legal {
	.lq-button {
		display: block;
		margin: 0 auto 25px auto;
		padding-left: 25px;
		padding-right: 20px;
		width: 144px;
		i {
			margin-left: 12px;
		}

	}
	.lq-btn-group-b {
		max-width: 334px;
	}
}

.lq-legal-title {
	font-size: 18px;
	text-align: center;
	max-width: 380px;
	margin: 40px auto 20px auto;

	.s-a {
		color: $blueone;
	}
	.s-b {
		color: $green;
	}
}

.lq-legal {
	display: block;
	width: 95%;
	max-width: 600px;
	background-color: #ffffff;
	padding: 25px 15px 25px 25px;

	border:1px solid #d9d9d9;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin: 0 auto 30px auto;



	&__content {
		margin: auto;
		padding-right: 10px;
		/*height: 300px;*/
		p {
			margin-top: 0;
			margin-bottom: 20px;
			color: $basictext;
			text-align: justify;
			strong {
				font-family: 'Omnes-Semibold';
			}
		}

		a {
			
		}

		h1,
		h2,
		h3 {
			font-size: 18px;
			color: $green;
			line-height: 1;
			margin-top: 0;
			margin-bottom: 10px;

		}

	}
}

.aui .lq-legal-message,
.lq-legal-message {
	text-align: center;
	font-size: 12px;
	margin-bottom: 35px;
	width: 95%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;

	&__p {
		color: #333333;
		margin-top: 0;
		margin-bottom: 5px;
		line-height: 1;

		a {
			color: $blueone;
		}
		
		&--small {
			color: #a5a5a5;
		}
	}




}


.lq-bind-accept-legal.disabled {
	background-color: #b5b5b5;

	border:none;
}


/* Styles specific to this particular page */
.scroll-pane
{
	width: 100%;
	height: 300px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 300px;
}
.jspVerticalBar {
	background: transparent;
	width: 8px;
	
}
.jspTrack {

	background: transparent;
}

.jspDrag {
	background-color: #b5b5b5;
    border-radius: 28px;
    width: 7px;
}
































