.lq-lightbox {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
	
}
.lq_lightbox_open {
	display: block;
	
}
.lq-lightbox__layer {
	background-color: #000000;
	opacity: 0.5;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.lq-lightbox__content {
	display: block;
	padding-top: 100px;
	position: relative;
	z-index: 10;
}


.lq-cancel-terms-popup {
	display: block;
	max-width: 442px;
	padding-top: 80px;
	padding: 60px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 18px;
	color: #5d5d5d;
	text-align: center;
	background-color: #ffffff;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}
.lq-terms-popup__01 {
	font-family: 'Omnes-Semibold';
	margin-bottom: 2px;
}
.lq-terms-popup__02 {
	font-family: 'Omnes-Regular';
	margin-bottom: 32px;
    display: block;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.lq-terms-popup__buttons {
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;

	a.lq-button {
		display: block;
		@include media(720px){
			float: none;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.lq-button-a {
		width: 144px;
		padding-left: 22px;
		padding-right: 20px;

		i {
			margin-right: 12px;
			margin-left: 0;
		}
		@include mobile(){
			width: 160px;
		}
	}
	.lq-button-b {
		width: 174px;
		padding-left: 22px;
		padding-right: 20px;

		i {
			margin-left: 12px;
		}
		@include mobile(){
			width: 160px;
		}
	}


}



























