.lq-line {
	display: block;
	width: 100%;
	max-width: 200px;
	height: 1px;
	background-color: #ffffff;
	border-bottom: 2px solid #f8f8f8;
	margin-bottom: 28px;
	margin-top: 28px;
	margin-left: auto;
	margin-right: auto;
}