.aui .lq-steps-header,
.lq-steps-header {
	position: relative;
	height: 180px;
	color: #ffffff;
	background-color: $green;

	background-image: url(../images/chica.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 1px;

	&.lq-steps-header-c2 {
		background-image: url(../images/chica2.jpg);
	}

	@include tablet(){
		background-image: url(../images/chica-mob.jpg);
		/*height: 250px;*/
		background-size: auto 100%;
	}

	@include mobile(){
		background-position: top center;
	}

	&__info-cont {
		display: block;
		margin-top: 60px;
		margin-left: 40px;

		@include tablet(){
			/*margin-top: 150px;*/
			margin-left: 20px;
		}

	}

	&__title-one {
		font-size: 30px;
		margin: 0;
	    margin-bottom: 4px;
		font-family: 'Omnes-Medium';
		@include tablet(){
			font-size: 27px;
		}
	}

	&__p-one {
		font-size: 25px;
		margin: 0;
		font-family: 'Omnes-Light';
		@include tablet(){
			font-size: 22px;
		}
	}

	
}

.lq-steps-header__image-bar {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 12px;
	background-image: url(../images/header-bar.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	
}