.lq-steps-position {
	display: block;
	font-family: 'Omnes-Regular';
	font-size: 14px;
	height: 70px;
	padding-top: 22px;
	background-image: url(../images/lq-position-linea.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	max-width: 580px;
	margin-left: 70px;
	@include media(680px) {
		max-width: 238px;
		margin-left: auto;
		margin-right: auto;
	}
}
.lq-positions {
	display: block;
	height: 25px;

}
.lq-pos {
	display: block;
	float: left;
	height: 25px;
	margin-right: 20px;
	&-1 {
		width: 160px;
	}
	&-2 {
		width: 202px;
	}
	&-3 {
		width: 176px;
		margin-right: 0;
	}
	@include media(680px){
		width: 86px;
		
	}
}
.lq-pos-3 {
	@include media(680px){
		width: 25px;
		
	}
}

.lq-pos__indicator {
	display: block;
	float: left;
	width: 24px;
}
.lq-pos__num {
	
	&-img {
		background-image: url(../images/pasos-bullet.png);
		background-size: 100% auto;
		display: block;
		width: 24px;
		height: 24px;

	}
	&-digit{
		font-size: 16px;
		text-align: center;
		font-family: 'Omnes-Semibold';
		color: #ffffff;
		padding-top: 1px;
	}
}


.lq-pos__txt {
	display: block;
	float: left;
	padding-right: 50px;
	padding-left: 18px;
	padding-top: 2px;
	position: relative;
	color:#5d5d5d;

	@include media(680px){
		padding: 0;
		width: 50px;
	}
	
}
.lq-pos__line {
	display: block;
	position: absolute;
	width: 27px;
	height: 1px;
	right: 0;
	top: 10px;
	background-color: #c2c2c2;
}
.lq-pos__txt-alpha {
	padding-right: 0;
}


.lq-pos__txt-det {

	@include media(680px){
		display: none;
		
	}
}


.lq-pos-success {
	.lq-pos__num-img {
		background-position: 0 -53px;
	}
	.lq-pos__num-digit {
		display: none;
		
	}	
}

.lq-pos-current {
	.lq-pos__num-img {
		background-position: 0 -26px;
	}
}


.lq-pos-success .lq-pos__txt,
.lq-pos-current .lq-pos__txt{
	color: #004c98;
}






















