.lq-tc-beneficios {
	display: block;
	margin-bottom: 60px;
	@include mobile(){
		margin-bottom: 0px;
	}
	&__items {
			
		width: 100%;
		max-width: 560px;
		margin-left: auto;
		margin-right: auto;
	}

	&__item {
		display: block;
		float: left;
		width: 33.333%;

		@include mobile(){
			float: none;
			width: 100%;
			margin-bottom: 30px;
		}

	}
	&__detail {

	}
	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 14px;
	}
	&__txt {
		font-size: 16px;
		text-align: center;
		color: $gris01;
		line-height: 1.1;
		strong {
			font-family: 'Omnes-Semibold';
		}
	}


}