
.aui .lq-main-title,
.lq-main-title {
	font-size: 33px;
	color: #333333;
	line-height: 1;
	margin-top: auto;
	margin-bottom: 12px;

	&__bold--alpha {
		color: $blueone;
		font-family: 'Omnes-Medium';
	}
	&__bold--betha {
		color: $green;
		
	}
}

.aui .lq-basic-text,
.lq-basic-text {
	font-size: 16px;
	color: #333333;
	font-weight: normal;
    line-height: 1;
	text-align: left;
	margin-top: 0;
	margin-bottom: 20px;

	&--alert {
		color: $red;
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 14px;

		strong {
			font-family: 'Omnes-Medium';
		}
	}

}