.aui .step-title,
.step-title {
	font-size: 26px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 4px;
	line-height: 1;
	text-align: center;
	

	&__re1 {
		color: $green;
		font-family: 'Omnes-Medium';
		display: block;
		margin-bottom: 6px;

	}

	&__re2 {
		color: #333333;
		font-family: 'Omnes-Semibold';

	}
}

.aui .step-sub-title,
.step-sub-title {
	color: #004c98;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 6px;
	font-size: 18px;
	text-align: center;
	
	strong {
		font-family: 'Omnes-Semibold';
	}
}