.button_ibk_default {
	@include omnesregular();
    display: block;
    position: relative;
    font-size: 14px;
    padding-top: 11px;
    padding-left: 22px;
    padding-bottom: 12px;
    padding-right: 20px;
    letter-spacing: 0.3px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-decoration: none;
    background-color: #bd004e;
    height: 34px;
    color: #ffffff;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
    border: none;
    color: #ffffff;

	strong {
		@include bgimage('ibk_button_arrow.png', no-repeat, center, center, 7px, auto);
	    position: absolute;
	    display: block;
	    width: 7px;
	    height: 24px;
	    right: 25px;
	    top: 5px;
	    
	}

	&:hover {
		text-decoration: underline;
		
	}


	position: relative;


	&.icarrow:before, &.icarrow:after {
	border-right: 2px solid;
	content: '';
	display: block;
	height: 8px;
	margin-top: -6px;
	position: absolute;
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	right: 15px;
	top: 10px;
	width: 0;
	}

	&.icarrow:after {
	margin-top: -1px;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	}
	&.icarrow:hover, &.icarrow:focus,
	&.icarrow:hover:before, &.icarrow:hover:after,
	&.icarrow:focus:before, &.icarrow:focus:after {
	}


}