@font-face {
    font-family: 'omnesmedium';
    src: url('../fonts/omnes-medium.eot');
    src: url('../fonts/omnes-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-medium.woff2') format('woff2'),
         url('../fonts/omnes-medium.woff') format('woff'),
         url('../fonts/omnes-medium.ttf') format('truetype'),
         url('../fonts/omnes-medium.svg#omnesmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@mixin omnesmedium(){
    font-family: 'omnesmedium';
}



@font-face {
    font-family: 'omnes_regularregular';
    src: url('../fonts/omnes-regular.eot');
    src: url('../fonts/omnes-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-regular.woff2') format('woff2'),
         url('../fonts/omnes-regular.woff') format('woff'),
         url('../fonts/omnes-regular.ttf') format('truetype'),
         url('../fonts/omnes-regular.svg#omnes_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@mixin omnesregular(){
    font-family: 'omnes_regularregular';
}

@font-face {
    font-family: 'omnessemibold';
    src: url('../fonts/omnes-semibold.eot');
    src: url('../fonts/omnes-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-semibold.woff2') format('woff2'),
         url('../fonts/omnes-semibold.woff') format('woff'),
         url('../fonts/omnes-semibold.ttf') format('truetype'),
         url('../fonts/omnes-semibold.svg#omnessemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@mixin omnessemibold(){
    font-family: 'omnessemibold';
}

@font-face {
    font-family: 'omneslight';
    src: url('../fonts/omnes-light.eot');
    src: url('../fonts/omnes-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-light.woff2') format('woff2'),
         url('../fonts/omnes-light.woff') format('woff'),
         url('../fonts/omnes-light.ttf') format('truetype'),
         url('../fonts/omnes-light.svg#omneslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@mixin omneslight(){
    font-family: 'omneslight';
}

@font-face {
    font-family: 'omnesbold';
    src: url('../fonts/omnes-bold.eot');
    src: url('../fonts/omnes-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes-bold.woff2') format('woff2'),
         url('../fonts/omnes-bold.woff') format('woff'),
         url('../fonts/omnes-bold.ttf') format('truetype'),
         url('../fonts/omnes-bold.svg#omnesbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@mixin omnesbold(){
    font-family: 'omnesbold';
}






