

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
      @content;
  }
  @-moz-keyframes #{$animation-name} {
      @content;
  }  
  @-ms-keyframes #{$animation-name} {
      @content;
  }
  @-o-keyframes #{$animation-name} {
      @content;
  }  
  @keyframes #{$animation-name} {
      @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin reset_btn(){
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@mixin tablet(){
	@media only screen and (max-width: 768px) {
		@content;
	}
}
@mixin mobile(){
	@media only screen and (max-width: 767px) {
		@content;
	}
}
@mixin media_custom($maxwidth){
  @media only screen and (max-width: $maxwidth) {
    @content;
  }
}


@function calculateRem($size) {
	$remSize: $size / 16px;
	@return $remSize * 1rem;
}


@mixin position($position, $top: null, $right: null, $bottom: null, $left: null,$width:null,$height:null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  width: $width;
  height: $height;
}
@mixin absolute($args...) {
  @include position(absolute, $args...);
}
@mixin relative($args...) {
  @include position(relative, $args...);
}
@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin background($path,$left:center,$right:center,$repeat:no-repeat) {
  background-image: url($path);
  background-repeat: $repeat;
  background-position: $left $right;
}

@mixin bgimage($image,$repeat:no-repeat,$x:center, $y:center,$w:auto,$h:auto){
  background-image: url("../images/"+$image);
  background-repeat: $repeat;
  background-position: $x $y;
  background-size: $w $h;
}
@mixin tttest(){
  display: block;
  background-color: orange;
}



@mixin link_notext(){
  display: block;
  text-indent: -99999px;
  overflow: hidden;
}

$basic_color: #524944;



@mixin basic_color() {	
	color: #524944;
}
@mixin reset() {
	margin: 0;
	padding: 0;
}

@mixin menu_states($image){
      &:hover {
        @include sprite($image);
      }
      &.active {
        @include sprite($image);
        color: #ffffff;
      }
      @include menu_mobile();
}
@mixin menu_mobile(){
  @include mobile(){
    width: 100%;
    height: 38px;
    padding: 0;
    text-align: center;
    &:hover {
      background-image: none;
      background-color: $bg_red;
      width: 100%;
      height: 38px;
    }
    &.active {
      background-image: none;
      background-color: $bg_red;
      width: 100%;
      height: 38px;
    }
  }
}

@mixin menu_states_active($image){
      @include sprite($image);

      color: #ffffff;

      &:hover {
        @include sprite($image);
      }
      
      @include menu_mobile_active();
}
@mixin menu_mobile_active(){
  @include mobile(){
    background-image: none;
    background-color: $bg_red;
    width: 100%;
    height: 38px;
    padding: 0;
    &:hover {
      background-image: none;
      background-color: $bg_red;
      width: 100%;
      height: 38px;
    }
  }
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@mixin boximg{
  width: 460px;
  height: 220px;
  display: block;
}


/*----------------------------------

# Flechas en enlace

----------------------------------*/
@mixin linkArrowRight($width:2px,$top:0,$right:0) {

  a {
  
  position: relative;
  }

  a:before, a:after {
    border-right: $width solid;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    right: $right;
    top: $top;
    width: 0;
  }

  a:after {
    margin-top: -1px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  a:hover, a:focus,
  a:hover:before, a:hover:after,
  a:focus:before, a:focus:after {
  }

}





