$green: #009b3a;
$turquesa: #53a7a9;
$grey: #475162;
$lemon:#7bac39;

$bluebox: #004c98;
$purplebox: #8a68a2;

$bordercolor:#dbdbdb;

$graytext: #828288;

$celeste: #40a6d3;

$gris: #828288;

$verdeclaro: #7bac39;

$celesteclaro: #7db8d2;

$moradoclaro: #8a68a2;
